// Contrast-Mode-Variables

//== Colors
$brand-primary:         $black;
$brand-primary-dark:    $brand-gray-medium;
$brand-primary-light:   $brand-gray-light;

$brand-secondary:       $brand-gray-dark;

$link-color:            $brand-primary;
$link-hover-color:      $brand-secondary;
