/* Block allgemein */
.block {
	border: 0px;
}

.block hr {
	border: none;
	border-bottom: 1px solid #ffffff;
	margin: 4px 0;
}

.block_tree hr {
	border: none;
	border-bottom: 1px solid #ffffff;
	margin: 4px 0;
}

.block .r0,.block_docked .r0 {
	background: none;
}

.block .header {
	min-height:1em;
	line-height: 30px;
	border-bottom: 1px solid white;
}

.block .header h2 {
	font-size: 13px;
}

.block .content {
	overflow: auto;
	line-height: 1.5em;
}

.ie7 .block .header .block_action {
	margin-top: 10px;
}

.ie6 .block .header .block_action {
	float: right;
	padding-top: 12px;
	height: 20px;
	margin-right: 25px;
}

.ie6 .block .content {
	width: 166px;
}

/* Block in der Seitenmitte */
#region-main .block .header {
	border-bottom: 0px solid #999999;
	
}

/* Bloecke links, rechts */
#region-pre .block a,#region-pre .block a:hover,#region-post .block a,#region-post .block a:hover
	{
	color: #ffffff;
}

#region-pre .block,#region-post .block {
	background: #356379 url([[pix:theme|blocks/bg-block-top]]) no-repeat
		scroll 0 top;
	color: #FFFFFF;
	padding: 0 7px;
	width: 166px;
}

#region-pre .block .bottom,#region-post .block .bottom {
	background: #356379 url([[pix:theme|blocks/bg-block-bottom]]) no-repeat
		scroll 0 bottom;
	margin: 0 -7px;
	height: 5px;
}

/* Block: Bloecke hinzufügen */
.block_adminblock .content {
	padding: 4px 0px;
}

/* Block: Einstellungen*/
.block_docked .block_tree ul li {
	margin: 5px 0
}

.block_settings .block_tree .tree_item {
	margin: 0
}

.block_settings .block_tree .tree_item.branch {
	background-position: 0 2px
}

.block_settings .block_tree li.item_with_icon>p img {
	top: 1px
}

/* Block: Kalender*/
.day {
	color: #999999;
}

.minicalendar,.calendar-event-panel {
	background: #ffffff;
	color: #333333;
}

.minicalendar a {
	color: #053349;
}

.minicalendar a:hover {
	background: #053349;
}

/* Block: Kalender Legende*/
.block .filters table {
	padding: 0px;
}

.block .filters table td {
	padding: 2px;
}

.block .content h3.eventskey {
	margin: 0px;
}

/* Block: Login*/
.block_login label {
	display: block;
}

/* Block: Navigation */
.block_navigation .header {
	background: #356379 url([[pix:theme|blocks/block_navigation_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

.block_navigation .block_tree li {
	list-style-type: none;
}

.block_navigation .block_tree li.type_course.depth_2, 
.block_navigation .block_tree li.type_user {
   display:none;
}
.block_navigation .block_tree li.type_system.depth_2  > p > a  {
	text-decoration:none;
}
.block_navigation .block_tree {
	margin: 0
}

.block_navigation .block_tree .tree_item {
	margin: 0
}

.block_navigation .block_tree .active_tree_node {
    font-weight: normal;
}

.block_navigation .block_tree .tree_item.branch {
	background-position: 0 2px
}

.block_navigation .block_tree li.item_with_icon>p img {
	top: 1px
}

.ie6 .block_navigation .header {
	background-image: none;
	padding-left: 0px;
}

.ie6 .block_navigation .block_tree li.item_with_icon.contains_branch .tree_item
	{
	padding-left: 18px;
}

/*Block:Textblock*/
.block_html .header {
	background: url([[pix:theme|blocks/block_textblock_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Aktuelle Termine*/
.block_calendar_upcoming .header {
	background: url([[pix:theme|blocks/block_aktTermine_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

.block_calendar_month .header {
	background: url([[pix:theme|blocks/block_calendar_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}
/*Block Eigene Dateien */
.block_private_files .header {
	background: url([[pix:theme|blocks/block_dateien_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Mitteilungen*/
.block_messages .header {
	background: url([[pix:theme|blocks/block_messages_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Mentoren*/
.block_mentees .header {
	background: url([[pix:theme|blocks/block_mentees_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Kursliste*/
.block_course_list .header {
	background: url([[pix:theme|blocks/block_course_list_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Aktivitäten*/
.block_activity_modules .header {
	background: url([[pix:theme|blocks/block_activities_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Blogmenü*/
.block_blog_menu .header {
	background: url([[pix:theme|blocks/block_blog_menu_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Blogschlagworte*/
.block_blog_tags .header {
	background: url([[pix:theme|blocks/block_blog_tags_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}
/*Block Communitysuche*/
.block_community .header {
	background: url([[pix:theme|blocks/block_community_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Glossareintrag*/
.block_glossary_random .header {
	background: url([[pix:theme|blocks/block_glossary_random_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

/*Block Kommentar*/
.block_comments .header {
	background: url([[pix:theme|blocks/block_comments_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Kurs selbst beenden*/
.block_selfcompletion .header {
	background: url([[pix:theme|blocks/block_selfcompletion_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

/*Block Kursabschnitte*/
.block_section_links .header {
	background: url([[pix:theme|blocks/block_section_links_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

/*Block Kursbearbeitungsstatus*/
.block_completionstatus .header {
	background: url([[pix:theme|blocks/block_completionstatus_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

/*Block Mentoren*/
.block_course_summary .header {
	background: url([[pix:theme|blocks/block_course_summary_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

/*Block Neue Aktivitäten*/
.block_recent_activity .header {
	background: url([[pix:theme|blocks/block_recent_activity_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

/*Block Neue Blogeinträge*/
.block_blog_recent .header {
	background: url([[pix:theme|blocks/block_blog_recent_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Neue Nachrichten*/
.block_news_items .header {
	background: url([[pix:theme|blocks/block_news_items_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Online Aktivitäten*/
.block_online_users .header {
	background: url([[pix:theme|blocks/block_online_users_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Persönliches Profil*/
.block_myprofile .header {
	background: url([[pix:theme|blocks/block_myprofile_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Personen*/
.block_participants .header {
	background: url([[pix:theme|blocks/block_participants_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block RSS Feed*/
.block_rss_client .header {
	background: url([[pix:theme|blocks/block_rss_client_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Schlagworte*/
.block_tags .header {
	background: url([[pix:theme|blocks/block_tags_title]]) no-repeat scroll
		0 7px;
	padding-left: 20px;
}

/*Block Forensuche*/
.block_search_forums .header {
	background: url([[pix:theme|blocks/block_search_forums_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

/*Block Testergebnisse*/
.block_quiz_results .header {
	background: url([[pix:theme|blocks/block_quiz_results_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Admin-Lesezeichen*/
.block_admin_bookmarks .header {
	background: url([[pix:theme|blocks/block_admin_bookmarks_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

/*Block Einstellungen*/
.block_settings .header {
	background: url([[pix:theme|blocks/block_settings_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Login*/
.block_login .header {
	background: url([[pix:theme|blocks/block_login_title]]) no-repeat scroll
		0 7px;
	padding-left: 20px;
}

/*Block Meine Kurse*/
.block_meinekurse .header {
	background: url([[pix:theme|blocks/block_meinekurse_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/*Block Meine Schulen*/
.block_meineschulen .header {
	background: url([[pix:theme|blocks/block_meineschulen_title]]) no-repeat
		scroll 0 7px;
	padding-left: 20px;
}

/**kein Icon vor sortieren, letzter Kursbesuch, Anzahl*/
.block_meinekurse .generaltable th.header {
	background: transparent;
}

/*Block DLB*/
.block_dlb .header {
	background: url([[pix:theme|blocks/block_dlb_title]]) no-repeat scroll 0
		7px;
	padding-left: 20px;
}

/*Block Schnelle Suche*/
.block_quickcourselist .header {
	background: url([[pix:theme|blocks/block_quickcourselist_title]])
		no-repeat scroll 0 7px;
	padding-left: 20px;
}

#region-main .block {
	background: url([[pix:theme|course/bg-course-section]]) repeat-x;
}

#region-main .block .header-wrapper {
	background: url([[pix:theme|course/bg-course-section-left]]) no-repeat;
}

#region-main .block .header {
	margin-left: 8px;
	padding-left: 20px;
}

#region-main .block .content {
	padding-left: 8px;
}

#region-main .block .header h2 {
	font-size: 16px;
	font-weight: normal;
}

/*#region-main .block .title {
	background: url([[pix:theme|course/bg-course-section-right]]) no-repeat
		scroll top right;
}*/

#region-main .block .header .block_action {
	float: right;
	margin: 0 1px;
}

#frontpage .notloggedin .block_navigation {
	display: none;
}

/* additional style (temporarily used) for styling blocks in dlb theme */

/** block_mycourses */
.mbsmycourses-newinfo {
    margin-left:20px;
    
}

.mbsmycourses-new {
    background: #356379;
    padding: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float:right;
    margin-left: 10px;
}

.mbsmycourses-new a {
    color: #ffffff;
}

.block_mbsmycourses .course_title {
    position:static;
}

.block_mbsmycourses .content h2.title {
    float:none;
     position:static;
}

.block_mbsmycourses .mbsmycourses-grid .coursebox {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    width: 190px;
    height: auto;
    min-height: 100px;
}

.block_mbsmycourses #filter_form select {
    margin : 3px;
}

#mbsmycourses_viewtype {
    margin-left: 5px;
}