/* originale Überschrift verbergen */
#page-course-category .page-heading, #page-admin-course-category .page-heading {
    display: none;
}

/* Kategorieliste */
#categories {
    float:left;
    margin: 0 48px 0 16px;
}

#categories-footer {
   clear:both;
   height: 20px;
}

#categories a {
    text-decoration: none;
    font-weight: bold;
}

#categories a:hover {
    text-decoration: underline;
}

#subcategories a {
    color : #000000;
    font-weight: normal;
}

#subcategories a:hover {
    color: #336699;
}

#categories .dimmed a,  #subcategories .dimmed a{
   color: #999999;
}

.category-open,
.category-up, .category-up-last,
.subcategory, .subcategory-last {
    height: 24px;
    line-height: 24px;
    padding-left: 46px;
}

.category-open {
    background : url([[pix:theme|category/bg-category-open]]) no-repeat;
    padding-left: 33px;
}

.category-up {
    background : url([[pix:theme|category/bg-category-up]]) no-repeat;
}

.category-up-last {
    background : url([[pix:theme|category/bg-category-up-last]]) no-repeat;
}

#subcategories .category-up a, .category-up-last a {
    font-weight : bold;
}

.subcategory {
    background : url([[pix:theme|category/bg-subcategory]]) no-repeat;
}

.subcategory-last {
    background : url([[pix:theme|category/bg-subcategory-last]]) no-repeat;
}


#subcategories .category-target a,
#subcategories .category-target a:hover,
.course-target a,
 .course-target a:hover
 {
    background: #ffaaaa;
    color: #ffaaaa;
    border: 2px  dashed red;
}

.courselink-target a,
.courselink-target a:hover {
    background: #aaaaff;
    color: #aaaaff;
    border: 2px  dashed blue;
}


.movelink-target a,
.movelink-target a:hover {
    background: #aaffaa;
    color: #aaffaa;
    border: 2px  dashed green;
}


#subcategories .category-target a:hover,
 .course-target a:hover{
    border: 2px solid red;
}

#subcategories .smallicon, .category-open .smallicon {
    vertical-align: middle;
    margin-right: 2px;
}

/* Kursliste */
#courselist-left, #category-roles-left {
     background: url([[pix:theme|course/bg-course-section-left]]) no-repeat;
     width: 10px;
     min-height: 80px;
     float:left;
}

#courselist, #category-roles-middle {
      background: url([[pix:theme|course/bg-course-section]]) repeat-x;
      min-height: 80px;
      padding: 0 30px 0 10px;
}

#courselist hr {
    margin: 8px 0 16px;
}

#courselist-right, #category-roles-right {
     background: url([[pix:theme|course/bg-course-section-right]]) no-repeat;
     background-position: right top;
     width: 30px;
     min-height: 80px;
     float:right;
}

#courselist-table {
    float:left;
    min-width: 30%;
    max-width: 49%;
}

#courselist-table td {
    padding: 2px;
}

#courselist-table .row-highlight {
    background:#d6ebf5;
}

#courselist-table .smallicon, #courselist-buttons .smallicon {
    vertical-align: middle;
    margin-right: 0.5em;
}

#courselist-table .enrol-icons {
    white-space: nowrap;
}

#courselist-buttons {
     padding: 0 30px 0 10px;
     margin-bottom: 20px;
}

#courselist-buttons hr {
    margin: 8px 0 16px;
}


/** dymnamische Kursinformationen */
.courseinfo-hidden {
    display: none;
}

#infodock {
    background:#d6ebf5;
    float:left;
    width:50%;
    display:none;
}

.infodock-oben-links,
.infodock-unten-links {
    width:3px;
    height:3px;
}

.infodock-oben-links {
    background: url([[pix:theme|category/bg-infodock-oben-links]]) no-repeat;
    float:left;
}

.infodock-oben-rechts {
    background: #d6ebf5 url([[pix:theme|category/bg-infodock-oben-rechts]]) no-repeat right top;
    height: 3px;
}

.infodock-unten-links {
    background: url([[pix:theme|category/bg-infodock-unten-links]]) no-repeat;
    float:left;
}
.infodock-unten-rechts {
    background: #d6ebf5 url([[pix:theme|category/bg-infodock-unten-rechts]]) no-repeat right bottom;
    height: 3px;
}

.infodock-courseinfo  {
    background:#d6ebf5;
    padding: 0px 8px;
    min-height: 48px;
}

.infodock-courseinfo .coursebox .info {
    float: none;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.infodock-courseinfo .enrolmenticons li {
    list-style-type: none;
}

.infodock-courseinfo .enrolmenticons img {
    vertical-align: middle;
}

.infodock-courseinfo .coursebox h3 {
    line-height: 16px;
    margin: 5px 0;
}

.infodock-courseinfo .coursebox .summary {
    margin-top: 10px;
    width: 100%;
}


/* optionale Styles*/

/** Hauptindexseite */
.categorylist .category  div.image {
    display: none;
}

.categorylist .course .indentation {
    padding-left: 25px;
    height: 24px;
}

.categorylist .course .name {
    padding-left: 28px;
    margin-left: -25px;
    background: url([[pix:theme|course/course]]) no-repeat;
    background-position: 2px center;
     height: 28px;
}

.categorylist .category {
    height: 20px;
}

.categorylist .category .name {
    padding-left: 35px;
    background: url([[pix:theme|category/bg-category-open]]) no-repeat;
    background-position: 0 center;
    padding-top: 5px;
    line-height: 1.2em;
    height:24px;
}

.categorybox {
    background:#E5EDF1;
    border: 1px solid #9FB3BD;
    padding: 5px 10px 10px;
}

.categorybox .course:hover, .categorybox .category:hover {
    background: #ffffff;
    
}

.settingsform h3 {
     background:#E5EDF1;
    border-bottom: 1px solid #9FB3BD;
    padding: 0 10px;
}

.path-login .page-heading {
    display: none;
}

.loginbox.onecolumn  {
    margin: 0 auto;
    overflow: visible;
    width: 50%;
}

.loginbox.onecolumn  h2 {
    border-bottom: 1px solid #9FB3BD;
}

.forgetpass {
    margin-top: 10px;
}

.loginbox .loginform .form-label {
    font-weight: bold;
    float: none;
    text-align: left;
    width: auto;
    color:#ffffff;
}

.loginbox .guestsub, .loginbox .forgotsub, .loginbox .potentialidps {
    border-top: 1px solid #9FB3BD;
    margin: 5px 0;
}


.loginbox .loginform .form-input {
    float: none;
}

.loginbox .loginform .form-input input {
    width: 12em;
}

#loginbtn {
   margin: 12px 0 0 95px;
   font-weight: bold;
}

#loginbtn:hover {
    background: #9FB3BD;
}

.loginbox .loginform {
    border: 1px solid #cccccc;
    background: #356379;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    width: 240px;
}

.loginerrors {
    border:2px solid red; background: #ffdddd; padding:10px
}

  .categorylist .course {
    line-height: 2.8em;
    margin-bottom: 0.5em;
    padding-left: 24px;
}