/*
    Document   : core
    Created on : 09.03.2012, 19:17:38
    Author     : Andreas Wagner
    Description: dieses Stylesheet wird auch vom Tinymce-Editor eingebunden und stellt dort die Formatierungen dar.
*/
/* Typographie */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    font-size:17px;
    color: #336699;
    line-height: 32px;
}

h2, h3.sectionname, .course-content ul.topics li.section .left {
    font-size : 16px;
    font-weight:normal;
    line-height: 30px;
}

h3 {
    font-size: 14px;
    line-height: 26px;
}

h4, h5 {
    font-size: 14px;
    color: #336699;
    line-height: 24px;
}

h5, h6 {
    font-style: italic;
    font-size: 13px;
    line-height: 24px;
}

h6 {
    font-weight: normal;
}

p {
    margin-bottom: 0.5em;
}

hr {
    border: none;
    border-bottom: 1px solid #999999;
    height: 1px;
    margin: 12px 0 6px;
}

a {
    color: #336699;
}

a:hover {
    color: #336699;
}

/* Listen */
blockquote, ul, ol, dl {
    margin: 0 28px 0 20px;
}

/* Forms und Inputs*/
.mform fieldset legend {
    color:#356379;
}

.mform fieldset {
    border: 1px solid #6593a9;;
}

input, select, textarea, button {
    font-size: 13px;
}

input[type=submit], select{
    border: 1px solid silver;
}

.ie8 input[type=submit], .ie9 input[type=submit] {
    padding: 1px 4px;
}

input.disabled { 
    background-color: #F0F0F0;
}

input.button  { 
    cursor: pointer;
    border: 1px solid silver;
   
}

input[readonly=readonly], input[readonly=readonly]:focus {
    border:none;
    background:#ffffff;
}

.block_action input {
    border : none;
}

/* Tabellen */
.genearaltable {} /*für Editor bereitstellen*/

.generaltable th {
    background: #efefef;
    border-bottom: 1px solid #999999;
}

.r0 {
    background-color: #efefef;
}
/* Moodleinhalte */
.generalbox {
    border: 0px;
}

.navbar {
    min-height:25px;
}

/* Beadcrumbs */
.breadcrumb div {
    float:left;
    line-height:19px;
}

.breadcrumb a {
    text-decoration: none;
    color: #356379;
}

.breadcrumb a:hover {
    text-decoration: none;
    color: #053349;
}

/** wegen Hotpot-Styledeklarationen */
#region-main .breadcrumb a {
    color: #356379 !important;
}

#region-main .breadcrumb a:hover {
    color: #053349 !important;
}

.breadcrumb-sep,
.breadcrumb-nav,
.breadcrumb-start,
.breadcrumb-end {
    height: 20px;
}

.breadcrumb-sep {
    background: url([[pix:theme|breadcrumb/bg-breadcrumb-sep]]) no-repeat;
    width: 17px;
    height: 20px;
}

.breadcrumb-nav  {
    background: url([[pix:theme|breadcrumb/bg-breadcrumb-nav]]) repeat-x;
    padding-left: 3px;
}

.breadcrumb-start {
    background: url([[pix:theme|breadcrumb/bg-breadcrumb-start]]) no-repeat;
    width: 4px;
}

.breadcrumb-end {
    background: url([[pix:theme|breadcrumb/bg-breadcrumb-end]]) no-repeat;
    width: 17px;
}

.informationbox {
    background: #e4f8f8;
    padding:10px;
    margin-bottom: 10px;
}

.errorbox {
    background: #ffc4c4;
    padding:10px;
    margin-bottom: 10px;
}

/** datenschutz **/
/**Ausblenden wegen Datenschutz */
#id_moodle_optional, #id_moodle_interests, #id_moodle_additional_names,
#fitem_id_country, #fitem_id_imagealt {
    display:none;
}

.smallicon {
    vertical-align: middle;
}

.fade-bg-left {
    background: url([[pix:theme|course/bg-course-section-left]]) no-repeat;
    width: 20px;
    height: 50px;
    float:left;
}

.fade-bg-middle {
    background: url([[pix:theme|course/bg-course-section]]) repeat-x;
}

.fade-bg-content {
    margin: 0 20px;
}

.fade-bg-right {
    background: url([[pix:theme|course/bg-course-section-right]]) no-repeat scroll top right;
    width: 20px;
    height: 50px;
    float:right;
}

.modified {
    margin-top: 10px;
    border-top: 1px solid #cccccc;
    padding: 4px;
    color: #666666;
}

.green, .notifysuccess {
    background: #EEFFEE;
    border: 2px solid green;
    color: #006600;
    font-weight: bold;
    padding: 10px;
}

.initialbar a {
    padding: 1px;
    margin: 2px;
    font-weight: bold;
    text-decoration: none;
}

.initialbar {
   text-align:center;
}

#page-admin-roles-allow .region-content form {
    overflow:auto;
}

body.hide_settings_block .block_settings{
    display:none;
}


.editprofileurl {
    background: #efefef;
    border: 1px solid silver;
    
    padding:0 4px;
    float:right;
}

.editprofileurl a {
    text-decoration: none;
    color: black;
}

.editprofileurl + .fitem {
    clear:none;
}