/* 
    Document   : course
    Created on : 10.03.2012, 10:18:57
    Author     : Andreas Wagner
*/

/** Beschriftung Themen dieses Kurses ausblenden */
.path-course-view .headingblock {
    display: none;
}

/** Fortschrittsanzeige nach oben schieben*/
#completionprogressid {
    margin-top: -30px;
}

/* Abstand des Inhaltsbereiches f端r Startseite*/
.course-content ul.topics {
    margin: 5px 0;
}
.course ul.section {
    margin: 0;
    padding: 0;
}

/** Abschnitts端berschrift */
.path-course h1.page-heading {
    display:none;
}
.path-course.path-course-view h1.page-heading {
    margin: 0;
    display:block;
}

/**Abschnittskommentar*/
.course-content ul.topics li.section .content .summary,
.course-content ul.weeks li.section .content .summary {
    margin-left: 20px;
}

/** Hintergrundgraphiken f端r Sections */
.course-content ul.topics li.section .left,
.course-content ul.weeks li.section .left {
    background: url([[pix:theme|course/bg-course-section-left]]) no-repeat;
    width: 20px;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
    background: url([[pix:theme|course/bg-course-section]]) repeat-x;
    padding-bottom: 8px;
}

.course-content ul.topics li.section .content,
.course-content ul.weeks li.section .content {
    margin: 0 20px;
}

.course-content ul.topics li.section .right,
.course-content ul.weeks li.section .right {
    background: url([[pix:theme|course/bg-course-section-right]]) no-repeat scroll top right;
    padding-top:5px;
    width:28px;
 }

/** Darstellung des current topic*/

.course-content .current  .left {
    background: url([[pix:theme|course/bg-course-section-left-current]]) no-repeat !important;
    width: 20px;
}

.course-content .current  {
    background: url([[pix:theme|course/bg-course-section-current]]) repeat-x !important;
    padding-bottom: 8px;
}

.course-content .current  .right {
    background: url([[pix:theme|course/bg-course-section-right-current]]) no-repeat scroll top right !important;
    padding-top:5px;
    width:28px;
 }


/** Men端 unterhalb der Inhaltsseite */
#sectionmenu {
    border-top: 1px solid #cccccc;
    padding: 4px;
}

.activity a {
    color: #000000;
    text-decoration: none;
}

.activity a:hover {
    color: #336699;
    text-decoration: underline;
}

.activity.modtype_label a {
    text-decoration: underline;
}


/* Block zum Fragen erzeugen */

#page-mod-quiz-edit .questionbankwindow div.header {
    background-color: transparent;
    color: #000000;
}

#page-mod-quiz-edit .questionbankwindow a#hidebankcmd {
   color: #336699;
}

#page-mod-quiz-edit .questionbankwindow .header h2 {
    margin: 0;
}

#page-mod-quiz-edit .questionbankwindow div.header {
    margin-left: 0;
    padding: 0 0 0 8px;
    background:  url([[pix:theme|course/bg-course-section-left]]) no-repeat;
}

#page-mod-quiz-edit .categoryinfo, #page-mod-quiz-edit div.questionbank  {
    background-color: transparent;
}

#page-mod-quiz-edit .questionbankwindow #displayoptions input {
    margin: 5px;
}

#completionprogressid {
    position: absolute;
    right: 40px;
    top: 70px;
}

