/*
    Document   : frontpage
    Created on : 09.03.2012, 19:17:38
    Author     : Andreas Wagner
*/
/** Inhalte der Frontpage formatieren*/

/** Kacheln */
#tile01, #tile02, #tile03, #tile04, #tile05, #tile06 {
    float:left; width:200px; height:220px; margin-bottom:5px; margin-left:26px;
}



#tile01 {
    background: url([[pix:theme|aktuelles]]) no-repeat;
}

#tile02 {
    background: url([[pix:theme|beispiel]]) no-repeat;
}

#tile03 {
    background: url([[pix:theme|fortbildung]]) no-repeat;
}

#tile04 {
    background: url([[pix:theme|support]]) no-repeat;
}




.tilecontent {
    float:left;
    position: relative;
    top: 80px;
    left: 20px;
    right:20px;
    width: 170px;
}

.tilecontent h3 {
    line-height: 18px;
    
    
}



.tilelink {
	url([[pix:theme|img-weiterlesen]])
    float: right;
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 180px;
    position: absolute;
}



/** Logos **/
.region-content-footer {
    margin-top: 10px;
    
}

.logo_stmuk, .logo_isb, .logo_alp, .logo_nutz, .logo_imp, .logo_dat, .logo_kon, .logo_meb{
    float: right;
    margin-right:20px;
}

.logo_stmuk {
    background: url([[pix:theme|frontpage/logo_stmuk_g]]) no-repeat;
    height: 50px;
    width: 240px;
}

.logo_stmuk:hover {
    background: url([[pix:theme|frontpage/logo_stmuk]]) no-repeat;
}

.logo_isb{
    background: url([[pix:theme|frontpage/logo_isb_g]]) no-repeat;
    height: 50px;
    width: 50px;
}

.logo_isb:hover {
    background: url([[pix:theme|frontpage/logo_isb]]) no-repeat;
}

.logo_alp {
    background: url([[pix:theme|frontpage/logo_alp_g]]) no-repeat;
    height: 48px;
    width: 65px;
}

.logo_alp:hover {
    background: url([[pix:theme|frontpage/logo_alp]]) no-repeat;
}

.logo_nutz{
    background: url([[pix:theme|frontpage/logo_nutz]]) no-repeat;
    height: 50px;
    width: 130px;
}

.logo_nutz:hover{
background: url([[pix:theme|frontpage/logo_nutz_hov]]) no-repeat;
}
.logo_imp{
    background: url([[pix:theme|frontpage/logo_imp]]) no-repeat;
    height: 50px;
    width: 80px;
}

.logo_imp:hover{
background: url([[pix:theme|frontpage/logo_imp_hov]]) no-repeat;
}

.logo_dat{
    background: url([[pix:theme|frontpage/logo_dat]]) no-repeat;
    height: 50px;
    width: 90px;
}

.logo_dat:hover{
background: url([[pix:theme|frontpage/logo_dat_hov]]) no-repeat;
}

.logo_kon{
    background: url([[pix:theme|frontpage/logo_kon]]) no-repeat;
    height: 50px;
    width: 70px;
}

.logo_kon:hover{
background: url([[pix:theme|frontpage/logo_kon_hov]]) no-repeat;
}

.logo_meb{
    background: url([[pix:theme|frontpage/logo_meb]]) no-repeat;
    height: 50px;
    width: 80px;
}

.logo_meb:hover{
background: url([[pix:theme|frontpage/logo_meb_hov]]) no-repeat;
}

#page-content-footer-right {
    float:right;
    width: 450px;
}

#page-content-footer-left {
    float: left;
    padding: 10px;
    padding: 30px 10px 0;
}

#page-content-footer-left a {
    color: #B1B1B1;
    margin-left: 20px;
    text-decoration: none;
}
#page-content-footer-left a:hover {
    color: #336699;
}

.sitetopic .section li.activity, .course-content .section li.activity {
    padding: 0;
}