/* 
    Document   : pagelayout
    Created on : 09.03.2012, 19:17:38
    Author     : Andreas Wagner
*/

/* Hintergrund*/
html {
    background: #c4d8da;
    line-height: 1.2em;
    min-height:101%; /* Scrollbar sichtbar, damit Zentrierung nicht springt*/
}

/* variable Breite zwischen min-width und max-width */
body, #page-wrapper, #mebis-header, #toolbar, #page-content-bg-top, #page-content-bg, #page-content-bg-bottom {
    min-width:950px;
    max-width:1210px;
    width: 100%;
}

/* Zentrierung */
body {
    margin: auto;
}

/** allgemeiner Header */
#general-header {
    height:95px;
    padding-top: 45px;
}

#general-header-left {
    background: url([[pix:theme|bg-header-links]]) no-repeat;
    display:block;
    width: 188px;
    height: 88px;
    margin-left: 50px;
    float:left;
    box-shadow: 4px 4px 8px #666666;
}

#general-header-middle {
    padding-left: 20px;
    margin-left: 230px;
}

#general-header-middle h1 {
    font-size:21px;
    color: #336699;
    line-height: 23px;
}

#header-middle-table {
    height: 94px;
}

#general-header-right {
    background: url([[pix:theme|bg-header-rechts]]) no-repeat;
    background-position: right;
    height:95px;
    float:right;
    width: 463px;
    margin-right: 6px;
}

/* Inhaltsbereich  */
#page {top:0px}

.pagelayout-popup #page {
    top: 10px;
}

#page-content .region-content {
    line-height: 1.5em;
    padding: 0px;
    padding-bottom: 20px;
}

/*Hintergruende skalierbare Seiten */
#page-content-bg-top {
    background:#ffffff;
    height: 10px;
}

#page-content-bg-top-left {
    background: #c4d8da url([[pix:theme|page/bg-page-top-left]]) no-repeat scroll right top;
    height:10px;
    width: 61px;
    float:left;
}

#page-content-bg-top-right {
    background: url([[pix:theme|page/bg-page-top-right]]) no-repeat;
    float:right;
    width:9px;
    height:10px;
}

.ie6 #page-content-bg-top, .ie6 #page-content-bg-top-left, .ie6 #page-content-bg-top-right {
    font-size: 0px;
}

#page-content-bg {
    background: #ffffff url([[pix:theme|page/bg-page-content-left]]) repeat-y scroll left top;
}

#page-bg-content-left, #page-header {
    background:  url([[pix:theme|page/bg-page-content-right]]) repeat-y scroll right top;
    width: 100%; /*wichtig fuer IE7*/
}

#page-content-bg-bottom {
    background: url([[pix:theme|page/bg-page-bottom-middle]]) repeat-x;
    height:12px;
}

#page-content-bg-bottom-right, #page-content-bg-bottom-left {
    width: 9px;
    height:12px;
}

#page-content-bg-bottom-right {
    background: url([[pix:theme|page/bg-page-bottom-right]]) no-repeat;
    float:right;
}

#page-content-bg-bottom-left {
    background: #c4d8da url([[pix:theme|page/bg-page-bottom-left]]) no-repeat scroll right top;
    float:left;
    width: 61px;
}

/* Blockpositionierungen */
#page-content #region-main-box {
    left: 237px;;
}

#page-content #region-post-box {
    margin-left: -430px;
}

#page-content #region-pre {
    width: 240px;
    margin-top:26px;
    left: 190px;
}

#page-content #region-main {
    padding: 0 8px;
}

#region-pre .region-content {
    margin-left: 60px;
}

#page-content #region-post {
    width:190px;
}

#region-main-wrap #region-main {
    margin-left: 430px;
}

/*kein Blockbereich sichtbar */
.content-only #page-content #region-main {
    margin-left: 50px;
    padding: 0 13px 0 8px;

}
/* nur linker Blockbereich sichtbar*/
.side-pre-only #page-content #region-main, .side-post-only #page-content #region-main {
    margin-left: 240px;
}

.side-pre-only #region-main-wrap #region-main {
    margin-right: 0px;
}

.side-pre-only #page-content #region-post-box {
    margin-left: -240px;
}

.side-pre-only #page-content #region-main, .side-post-only #page-content #region-main {
    margin-left: 240px;
}
/* nur rechter Blockbereich sichtbar*/
.side-post-only #page-content #region-post-box {
    margin-left: -190px;
}
/** unheimlich wichtiger Style, wenn ein Kurs per Anker angesprungen wird!*/
.clearfix:after {
    line-height: 0;
}

.pagelayout-popup #page-content-bg-bottom-left, .pagelayout-popup #page-content-bg-top-left {
    width: 15px;
}

.pagelayout-popup #page-content-bg {
    background: #ffffff url([[pix:theme|page/bg-page-content-left]]) repeat-y scroll -46px top;
}

.pagelayout-popup #page-content #region-main {
    margin: 0 10px;
    padding: 0px 13px 0px 18px;
}

.pagelayout-base #region-main-wrap #region-main {
    margin-left: 58px;
    margin-right: 13px;
}

/***********speziell für  Startseite ****************************************/
/* ..fuer Startseite*/
html#frontpage {
    background: url([[pix:theme|bg-frontpage]]) no-repeat;
    background-attachment:fixed;
}

/* Breitenangaben für Startseite */
body.pagelayout-frontpage,
.pagelayout-frontpage #page-wrapper,
.pagelayout-frontpage #mebis-header,
.pagelayout-frontpage #toolbar,
.pagelayout-frontpage #page-content-bg-top,
.pagelayout-frontpage #page-content-bg,
.pagelayout-frontpage #page-content-bg-bottom {
    width: 960px;
    overflow:visible;
}

.pagelayout-frontpage #page-content-bg-topfade,
.pagelayout-frontpage #page-content-bg-bottomfade {
    /** Breite für IE7 nötig*/
    width: 960px;
}

/* mebis-header fuer Startseite*/
.pagelayout-frontpage #mebis-header {
    height: 112px;
    width : 100%;
    background-position: right;
    padding-top: 45px;
}

.mainMenuMebis,
.mainMenuArchive,
.mainMenuLMSActive,
.mainMenuMediathek {
    height: 103px;
    float:left;
    box-shadow: 4px 4px 8px #666666;
}

.mainMenuMebis,
.mainMenuMediathek,
.mainMenuLMSActive {
    margin-right: 10px;
}

.mainMenuMebis {
    background: url([[pix:theme|head_mebis_inactive]]) no-repeat scroll 0 0 transparent;
    width: 470px;
}

.mainMenuMebis:hover {
    background: url([[pix:theme|head_mebis_active]]) no-repeat scroll 0 0 transparent;
}

.mainMenuArchive {
    background:  url([[pix:theme|head_arc_inactive]]) no-repeat scroll 0 0 transparent;
    width: 150px;
}

.mainMenuArchive:hover {
    background:  url([[pix:theme|head_arc_active]]) no-repeat scroll 0 0 transparent;
}


.mainMenuLMSActive {
    background:  url([[pix:theme|head_lms_active]]) no-repeat scroll 0 0 transparent;
    width: 150px;
}

.mainMenuMediathek {
    background:  url([[pix:theme|head_mediathek_inactive]]) no-repeat scroll 0 0 transparent;
    width: 150px;
}

.mainMenuMediathek:hover {
    background:  url([[pix:theme|head_mediathek_active]]) no-repeat scroll 0 0 transparent;
}

/* für IE6 */
.path-site.ie6 #mebis-header {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='theme/dlb/pix/mebis-header.png');
    background:none;
    margin-left:50px;
}

/* kein Breadcrumb auf Startseite */
.pagelayout-frontpage .breadcrumb {
    visibility: hidden;
}

/** Inhaltsbereich Startseite */
/*andere Positionierung für Startseite*/
body.pagelayout-frontpage #page {
    top:0px;
}

body.pagelayout-frontpage.no_toolbar #page {
    top: 0px;
}

/* Hintergruende Startseite; */
.pagelayout-frontpage #page-content-bg-topfade, #page-content-bg-bottomfade {
    position: relative;
    z-index: 1;
}

.pagelayout-frontpage #page-content-bg-top {
    background: url([[pix:theme|page/bg-frontpage-content-top]]) no-repeat scroll right top;
    height:10px;
}

.pagelayout-frontpage #page-content-bg-topfade {
    background: url([[pix:theme|page/bg-frontpage-content-topfade]]) no-repeat scroll right top;
    width:950px;
}

.pagelayout-frontpage #page-content-bg-bottomfade {
    background: url([[pix:theme|page/bg-frontpage-content-bottomfade]]) no-repeat scroll right bottom;
    width:950px;
}

.pagelayout-frontpage #page-content-bg {
    background: url([[pix:theme|page/bg-frontpage-content]]) repeat-y right top;
}

.pagelayout-frontpage #page-content-bg-bottom {
    background: url([[pix:theme|page/bg-frontpage-content-bottom]]) no-repeat scroll right top;
    height:18px;
}

.pagelayout-frontpage #page-header {
    background: none;
}

/** 3-spaltige Div layout

<div id="page-content">
    <div id="region-main-box">
        <div id="region-post-box">
            <div id="region-main-wrap">
            <div id="region-pre" class="block-region">
            <div id="region-post" class="block-region">
        </div>
        <div style="clear:both"></div>
    </div>
    <div style="clear:both"></div>
</div> */

.pagelayout-frontpage #page-content #region-main-box {
    left: 190px;
}

.pagelayout-frontpage #page-content #region-post-box {
    margin-left: -375px;
}

.pagelayout-frontpage #region-main-wrap #region-main {
    margin-left: 370px;
}

.pagelayout-frontpage #page-content #region-pre {
    width: 190px;
}

.pagelayout-frontpage #page-content #region-pre .region-content {
    margin-left:0px;
}

/*Startseite nur Blöcke rechts */


/*Startseite nur Blöcke links */
.path-site.side-pre-only #page-content #region-post-box {
    margin-left: -185px;
}
.pagelayout-frontpage.side-post-only #region-main-wrap #region-main {
    margin-left : 185px;
}

.pagelayout-frontpage.side-pre-only #region-main-wrap #region-main {
    margin-left : 180px;
    margin-right: 10px;
}

.pagelayout-frontpage #region-main .generalbox {
    padding: 4px 0;
}

/* Startseite keine Blöcke*/
.pagelayout-frontpage.content-only #page-content #region-post-box {
    margin-left: 0;
}

.pagelayout-frontpage.content-only #page-content #region-main-box {
    left: 0;
}

.pagelayout-frontpage.content-only #region-main-wrap #region-main {
    margin-left: 0px;
    padding: 0 13px 0 8px;
}

.pagelayout-frontpage #dock .controls {
    visibility: hidden;
}

.pagelayout-frontpage .moveto {
    display:none;
}

.pagelayout-frontpage #toolbar-content {
    font-size: 13px;
    margin-left: auto;
    padding-top: 0px;
}
.pagelayout-frontpage #dock{
    margin-left: -52px;
}

/*border zu Debugging Zwecken...
#page-wrapper {
    border: 1px solid aqua;
}

#page-content {
    border: 1px solid green;
}

#region-main-box {
    border: 1px solid red;
}

#region-post-box {
    border: 1px solid blue;
}

#page-content #region-pre {
    border: 1px solid maroon;
}

#page-content #region-post {
    border: 1px solid yellow;
}

#page-content-bg {
    border: 1px solid fuchsia;
}

#page-bg-content-left  {
    border: 1px solid fuchsia;
}*/

/* Ich möchte das Forum abbestellen, nach rechts floaten*/
#page-site-index .subscribelink {
    float: right;
}

#page-footer .sitelink {
    display: none;
}

#supportbutton {
    float: right; margin: -4px 7px 0 0;
    z-index: 20;
}

#supportbutton  .toolbar-tooltip {
    margin-left: 0;
}

#supportbutton a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

/*Nicht Inhalte*/
#helppopupbox {
    background-color: #F5FDFD;
}

.user-enroller-panel {
    z-index: 10;
}

.pagelayout-report .no-overflow {
    overflow: auto;
}

.que .content {
    overflow: auto;
}



