/* 
    Document   : my home
    Created on : 10.04.2013
    Author     : Synergy Learning
*/

/* My Home */
#page-my-index #region-main .block .header-wrapper {
	height: 70px;
}



#page-my-index .content {
	clear: both;
	margin: 0;
	padding: 0;
}

#page-my-index #region-main .block .content {
	margin: -10px 0 0 0;
	padding: 0px 20px 20px 20px;
}

#page-my-index .mycoursestabs .ui-tabs {
	margin: 0;
	padding: 0;
}

#page-my-index .mycoursestabs table {
	margin-bottom: 0px;
}

.mycoursestabs h2.main {
	display: inline;
	font-size: 1.0em;
	line-height: 1.0em;
	padding: 0px;
	margin: 0px;
}

.mycoursestabs .header {
	font-weight: normal !important;
}

#page-my-index #region-main .block.ui-state-default {
	background: #dce8ee;
	height: 29px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #9cb3bd;
	color: #1b6a9c;
}

#page-my-index #region-main .block.ui-state-default a {
	color: #1b6a9c ; ! important;
}

#page-my-index #region-main .block.ui-state-active {
	background: #c2d6dc;
	height: 30px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #9cb3bd;
	color: #1b6a9c;
	border-bottom: 1px solid #6c94a3;
}

#page-my-index #region-main .block.ui-state-active a {
	color: #1b6a9c; ! important;
	font-weight: normal;
}

#page-my-index .mycoursestabs .header {
	padding-left: 15px !important;
	margin-left: 0px !important;
	text-align: left !important;
	line-height: 1.1em;
}

#page-my-index .mycoursestabs .coursecontainer {
	margin-top: 0;
	background: #fff;
	border: 1px solid #C2D6DC;
	padding: 0px;
	width: 100%;
	margin-bottom: 10px;
	
	-moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   box-sizing:         border-box;
	
}

#page-my-index .mycoursestabs .header {
	background: #c2d6dc;
	border-bottom: 1px solid #999;
}

.mycoursestabs form {
	background: #c2d6dc;
	border-top: 1px solid #9cb3bd;
}

#page-my-index .mycoursestabs table tr {
	background: #c2d6dc;
	color: #333;
}

#page-my-index .mycoursestabs table tr:focus {
	background: #c2d6dc !important;
	color: #333;
}

#page-my-index .mycoursestabs table tr a {
	color: #1b6a9c;
}

#page-my-index .mycoursestabs table tr:focus {
	background: #c2d6dc !important;
	color: #333;
}

.meinekursetable {
	width: 40%;
}

#page-my-index .mycoursestabs .coursecontent {
	background: #d3ecf6;
	color: #333;
	width: 60% !important;
}

#page-my-index .mycoursestabs .coursecontent a {
	background: #d3ecf6;
	color: #1b6a9c;
}

#page-my-index .mycoursestabs .coursecontainer .r0 {
	background: #fff !important;
	color: #2a647a;
}

#page-my-index .mycoursestabs .coursecontainer .r1 {
	background: #fff !important;
	color: #2a647a;
}

#page-my-index .mycoursestabs .coursecontainer .r1.hover {
	background: #d3ecf6 !important;
	color: #1b6a9c;
}

#page-my-index .mycoursestabs .coursecontainer .r0.hover {
	background: #d3ecf6 !important;
	color: #1b6a9c;
}

#page-my-index .mycoursestabs table tr:active {
	background: #d3ecf6 !important;
	color: #1b6a9c;
}

#page-my-index .mycoursestabs .coursecontainer .meinekurse_content .r0 {
	background: #d3ecf6 !important;
	color: #2a647a;
}

#page-my-index .mycoursestabs .coursecontainer .meinekurse_content .r1 {
	background: #d3ecf6 !important;
	color: #2a647a;
}

#page-my-index .mycoursestabs .coursecontainer .meinekurse_content .r1.hover
	{
	background: #d3ecf6 !important;
}

#page-my-index .mycoursestabs .coursecontainer .meinekurse_content .r0.hover
	{
	background: #d3ecf6 !important;
}

#page-my-index .block_meineschulen.list_block .unlist>li>.column.c1 {
	float: left;
	width: 140px;
}

#page-my-index .block_meineschulen.list_block .unlist>li>.column.c0 {
	width: 20px;
	float: left;
	clear: left;
}

#page-my-index .block_meineschulen .footer {
	clear: both;
	padding-top: 10px;
}

/* meineschulen-viewschool*/
#page-blocks-meineschulen-viewschool h1.page-heading {
	padding-left: 20px !important;
}

.meineschulen_content .meineschulen_courses {
/*	background: url([[pix:theme|blocks/bg-course-section]]) top left
		repeat-x;
	-moz-border-radius: 5px 5px 0 0;*/
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	margin: 5px 0.5%;
	width: 55%;
	min-height: 300px;
	line-height:30px;
}

.meineschulen_courses {
	padding: 10px;
	font-size: 1.2em;
	font-weight: normal;
}

.meineschulen_content .meineschulen_courses .meineschulen_courses_inner
	{
	border: none;
	font-size: 0.9em;
	font-weight: normal;
	min-height: 100px;
}

.meineschulen_content .meineschulen_coordinators {
	background: url([[pix:theme|blocks/bg-course-section]]) top left
		repeat-x;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	margin: 5px 0.5%;
	width: 37%;
	line-height:30px;
}

.meineschulen_coordinators {
	padding: 10px;
	font-size: 1.2em;
	font-weight: normal;
}

.meineschulen_content .meineschulen_coordinators .meineschulen_coordinators_inner
	{
	border: none;
	font-size: 0.9em;
	font-weight: normal;
}

.meineschulen_content .meineschulen_newcourse {
	background: url([[pix:theme|blocks/bg-course-section]]) top left
		repeat-x;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	margin: 5px 0.5%;
	width: 37%;
	line-height:30px;
}

.meineschulen_newcourse {
	padding: 10px;
	font-size: 1.2em;
	font-weight: normal;
}

.meineschulen_content .meineschulen_newcourse .meineschulen_newcourse_inner
	{
	border: none;
	font-size: 0.9em;
	font-weight: normal;
}

.meineschulen_content .meineschulen_search {
	background: url([[pix:theme|blocks/bg-course-section]]) top left
		repeat-x;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	margin: 5px 1%;
	line-height:30px;
}

.meineschulen_content .meineschulen_createcourse_link,.meineschulen_content .meineschulen_requestcourse_link
	{
	background: url([[pix:theme|plus]]) top right repeat-x;
	width: 24px;
	height: 24px;
	border: none;
	box-shadow: none;
}

.meineschulen_search {
	padding: 10px;
	font-size: 1.2em;
	font-weight: normal;
}

.meineschulen_content .meineschulen_createcourse,.meineschulen_content .meineschulen_requestcourse,.meineschulen_content .meineschulen_search .meineschulen_search_inner
	{
	border: none;
	font-size: 0.9em;
	font-weight: normal;
}

.meineschulen_content #meineschulen_search_results table {
	margin: 0;
	width: 100%;
}

.meineschulen_content .meineschulen_search form {
	margin: 10px 0;
}

.meineschulen_content .meineschulen_search form input {
	padding: 2px;
}

.meineschulen_content .generaltable th {
	background: #c2d6dc;
}

.meineschulen_content .generaltable td {
	background: #fff;
}

/* meineschulen-search*/
#page-blocks-meineschulen-search h1.page-heading {
	padding-left: 10px !important;
}

.meineschulen_content .meineschulen_school_form {
	background: url([[pix:theme|blocks/bg-course-section]]) top left
		repeat-x;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	margin: 5px;
	width: 97%;
	font-weight: bold;
}

.meineschulen_content .meineschulen_school_results {
	background: #fff;
	border: 1px solid #999;
	margin: 0 auto 5px;
	width: 93%;
}

.meineschulen_school_form,.meineschulen_school_results {
	padding: 10px;
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 10px;
}

.meineschulen_content .meineschulen_school_form .meineschulen_school_form_inner
	{
	background: #dbe8ef;
	border-top: 1px solid #999 !important;
	height: 40px;
	padding-top: 10px;
}

.meineschulen_content .meineschulen_school_form .meineschulen_school_form_inner,.meineschulen_content .meineschulen_school_results #meineschulen_school_results
	{
	border: none;
	font-size: 0.8em;
	font-weight: normal;
	margin-top: 10px;
}

.meineschulen_content .meineschulen_school_form input.submitbutton {
	padding: 0px;
	width: 80px;
	margin-top: 8px;
}

.meineschulen_content .meineschulen_school_form input {
	width: 150px;
	margin-right: 0px;
}

.meineschulen_content .meineschulen_school_form select {
	margin-right: 10px;
	margin-left: 0px;
}

.meineschulen_content .meineschulen_school_form label {
	float: left;
	margin: 5px 0px 5px 0px;
	display: inline-block;
	width: 12%;
	text-align: center;
}

.meineschulen_content #meineschulen_school_results table {
	margin: 0;
	width: 100%;
	margin-top: 20px;
}

.cell {
	vertical-align: center !important;
}

.meineschulen_content .meineschulen_courses a {
    line-height: 30px;
    position: relative;
}