/* 
    Document   : toolbar
    Created on : 11.03.2012, 15:52:21
    Author     : Andreas Wagner
    Description:
        Stylesheet für den durchgängigen Toolbar
*/

/** toolbar Hintergrund */
#toolbar-wrapper {
    background: url([[pix:theme|toolbar/bg-toolbar]]) repeat-x;
    position:absolute;
    top : 0px;
    height:35px;
    left:0;
    right:0;
    min-width: 960px;
}

.no_toolbar #toolbar-wrapper {
    display:none;
}

/** Startseitenposition Toolbar*/
body.path-site #toolbar-wrapper {
    top : 0px;
    min-width: 960px;
}

#toolbar-wrapper a {
    color:#ffffff;
}
/** Für den IE6 ist es nicht möglich die Toolbar außerhalb des Bodies zu strecken*/
.ie6 #toolbar-wrapper {
    left: auto;
    right: auto;
}
/** positioniert den Inhaltsbereich auf die Seitenränder */
#toolbar {
    margin: auto; color:#ffffff;
    min-width : 450px;
}
/** Icons auf der Toolbar */
#toolbar-content {
    margin-left: 52px;
    padding-top: 0px;
    font-size: 13px;
}

.toolbar-content-item {
    float:left;
    text-align: center;
    margin-right:20px;
    line-height: 33px;
}

#toolbar-content-left{
    min-height:1px;
    float:left;
    width:300px;
}

#toolbar-content-item_6,
#toolbar-content-item_8,
#toolbar-content-item_7,
#toolbar-content-item_9,
#toolbar-content-item_10 {
    line-height: 33px;
    margin: 12px;
    float:left;
    margin-top: 0px;
    margin-right:-2px;
}

#toolbar-login{
    line-height: 33px;
    float:right;
    margin-right: 10px;

}
#logininfo {
    line-height: 14px;
    margin: 4px 10px 4px;
    float:right;
    text-align: right;
}

/**Toolbar Tipp*/
#block-toolbarcontent  a + div, #block-toolbarcontent a + div,
#toolbar-content  a + div, #toolbar-login a + div, #toolbar-content-item_10 a + div {
    display: none;
    position: absolute;
    z-index: 10000;
}

#block-toolbarcontent  a:hover + div, #block-toolbarcontent a:hover + div,
#toolbar-content a:hover + div, #toolbar-login a:hover + div, #toolbar-content-item_10 a:hover + div{
    display: block;
    margin-top: 0px;
}

#block-toolbarcontent {
    margin-top: 10px;
}

/** Toolbar im Block */
#block-toolbarcontent #toolbar-content-item_6,
#block-toolbarcontent #toolbar-content-item_8,
#block-toolbarcontent #toolbar-content-item_7,
#block-toolbarcontent #toolbar-content-item_9 {
    margin: 2px;
}

#toolbar-content-item_10 .toolbar-tooltip {
    margin-left: 10%;
    min-width:100px;
    margin-top: 5px;
}

.tooltip-content,.tooltip-left, .tooltip-right  {
    height:27px;
    line-height: 27px;
    float:left;
}

#toolbar-login a, #toolbar-content  a {
    text-decoration: none;
}

.toolbar-tooltip {
    white-space: nowrap;
    margin-left: -30%;
}

#toolbar-content-item_6 .toolbar-tooltip,
#toolbar-content-item_7 .toolbar-tooltip, 
#toolbar-content-item_8 .toolbar-tooltip,
#toolbar-content-item_9 .toolbar-tooltip{
    white-space: nowrap;
    margin-left: -30%;
    margin-top:5px;
}

#toolbar-login .toolbar-tooltip {
    margin-left: 10%;
    margin-top: 7px;
    min-width:100px;
}

.tooltip-content {
    background: url([[pix:theme|toolbar/tooltip]]) repeat-x;
}

.tooltip-left {
    background: url([[pix:theme|toolbar/tooltip-left]]) no-repeat;
    width:6px;
}

.tooltip-right {
    background: url([[pix:theme|toolbar/tooltip-right]]) no-repeat;
    width:7px;
}

/* Logininfo in der Toolbar*/
.headermenu {
    font-size: 1em;
    margin: 5px 6px;

}

.langmenu select{
    width: 130px;
    background:#C4D8DA;
    border: 1px solid #356379;
}


.toolbar-toolpop {
    margin-left: 0.5%;
    font-size: 1em;
    padding-bottom: 0px;
    position:absolute;
    margin-top: 4px;
}

.toolpop-content,.toolpop-left, .toolpop-right{

    float:left;
    line-height: 18px;
    height: 18px;

}

.toolpop-content {
    background: url([[pix:theme|toolbar/toolpop]]) repeat-x;
    min-width: 12px;

}

.toolpop-left {
    background: url([[pix:theme|toolbar/toolpop-left]]) no-repeat;
    width:3px;

}

.toolpop-right {
    background: url([[pix:theme|toolbar/toolpop-right]]) no-repeat;
    width:4px;

}

#custommenu {
    float: right;
    line-height: 37px;
    clear:none;
    height: 37px;
}

#toolbar-submenu {
    position:absolute;
    background-color: #356379;
    top:35px;
    z-index:10;
    border-bottom-right-radius:3px;
    border-bottom-left-radius: 3px; 
    box-shadow: 3px 3px 3px #999999;
}

#toolbar-submenu a {
    text-decoration: none;
}

#toolbar-submenu ul {
    margin: 0;
}

#toolbar-submenu li {
    background: url([[pix:core|i/navigationitem]]) no-repeat left center;
    list-style:none;
    border-top: 1px solid #8CA3AD;
    line-height: 25px;
    padding: 0 10px 0 20px;
}

#toolbar-submenu li:hover {
    background-color: #8CA3AD; 
} 