.userlist .buttons {
    border-top: 1px solid #666666;
    padding: 2px;
    background: #efefef;
    
}

.userlist table#participants {
    margin-top: 15px;
}

.userlist table#participants th {
    margin-top: 15px;
}

.userinfobox {
    border: none;
    border-collapse: collapse;
}


