.block_mbsmycourses .coursechildren {
    font-weight: normal;
    font-style: italic;
}

.block_mbsmycourses .content {
    margin: 0 20px;
}
.block_mbsmycourses .content .notice {
    margin: 5px 0;
}

.block_mbsmycourses .coursebox {
    padding: 15px;
    width: auto;
}

.block_mbsmycourses .profilepicture {
    float: left;
}
.dir-rtl.block_mbsmycourses .profilepicture {
    float:right;
}
.block_mbsmycourses .welcome_area {
    width: 100%;
    padding-bottom: 5px;
}

.block_mbsmycourses .welcome_message {
    float: left;
    padding: 10px;
    vertical-align: middle;
    border-collapse: separate;
    clear: none;
}
.dir-rtl .block_mbsmycourses .welcome_message {
    float:right;
}

.block_mbsmycourses .content h2.title {
    float: left;
    margin: 0 0 .5em 0;
    position: relative;
    font-size: 14px;
}
.dir-rtl .block_mbsmycourses .content h2.title {
    float:right;
}

.block_mbsmycourses .course_title {
    position: relative;
}

.editing .block_mbsmycourses .coursebox .cursor {
    cursor: move;
    margin-bottom: 2px;
}

.editing .block_mbsmycourses .move {
    float: left;
    padding: 2px 10px 0 0;
}
.dir-rtl.editing .block_mbsmycourses .move {
    float:right;
    padding: 2px 10px;
}

.block_mbsmycourses .course_list {
    width: 100%;
}

.block_mbsmycourses div.flush {
    clear: both;
}

.block_mbsmycourses .activity_info {
    clear: both;
}
.dir-rtl .block_mbsmycourses .activity_info {
    margin-right: 25px;
}

.block_mbsmycourses .activity_overview {
    padding: 2px;
}
.block_mbsmycourses .activity_overview img.iconlarge { vertical-align: text-bottom; margin-right: 6px; }
.dir-rtl .block_mbsmycourses .activity_overview img.iconlarge { margin-left: 6px; margin-right: 0;}

.block_mbsmycourses .singleselect {
    text-align: left;
    margin: 0;
}
.dir-rtl .block_mbsmycourses .singleselect {
    text-align: right;
}

.block_mbsmycourses .content .course_list .movehere{
    margin-bottom: 15px;
}

.block_mbsmycourses .mbsmycourses-grid .coursebox {
    float: left;
    height: 150px;
    margin-right: 10px;
    overflow: hidden;
    padding: 15px;
    width: 200px;
}

.block_mbsmycourses .coursebox > .info > .coursename a {
    background-position: left center;
}

.block_mbsmycourses .coursebox {
    padding: 5px;
    margin: 5px;
}

.block_mbsmycourses .category-box {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    clear: both;
    margin: 10px 0;
    min-height: 0;
    padding: 10px;
}

.block_mbsmycourses .collapsibleregion .collapsibleregioncaption {
    background-image: url([[pix:t/less]]);
    background-repeat: no-repeat;
    float: right;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.block_mbsmycourses .collapsibleregion.collapsed .collapsibleregioncaption {
    background-image: url([[pix:t/add]]);
}

.block_mbsmycourses .mbsmycourses-grid .movehere {
    float:left;
}

.block_mbsmycourses .mbsmycourses-list .moreinfo {
    float:left;
    margin-left: 20px;
}

.block_mbsmycourses .mbsmycourses-list .coursebox > .info > h3.coursename {
    float:left;
}

.mbsmycourses-newinfo {
    margin-left:20px;
}

.mbsmycourses-new {
    cursor: pointer;
}

.yui3-overlay-content .mbscourses-hide-overlay {
    float:right;
}


/* Hide overlay markup while loading, if js is enabled */
.yui3-js-enabled .yui3-overlay-loading {
    top:-1000em;
    left:-1000em;
    position:absolute;
    z-index:1000;
}

/* Overlay Look/Feel */
.yui3-overlay-content {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin: 0;
    padding: 0;
}

.yui3-overlay-content .yui3-widget-hd,
.yui3-overlay-content .yui3-widget-bd {
    padding: 10px;
}

.yui3-overlay-content .yui3-widget-hd {
    font-weight: bold;
    cursor:move;
    border-bottom:1px solid  #e3e3e3;
}

#mbsmycourses_viewtype label {
    margin-right:10px;
}