.meineschulen_content .meineschulen_courses {
    display: block;
    width: 44%;
    margin: 5px 2.5%;
    float: left;
}
.meineschulen_content .meineschulen_courses .meineschulen_courses_inner {
    border: solid black 1px;
    min-height: 200px;
}

.meineschulen_content .meineschulen_courses.fullwidth {
    width: 95%;
}

.meineschulen_content .meineschulen_coordinators {
    display: block;
    width: 44%;
    margin: 5px 2.5%;
    float: left;
    overflow-y: auto;
}

.meineschulen_content .meineschulen_coordinators .meineschulen_coordinators_inner {
    border: solid black 1px;
    height: 120px;
}

.meineschulen_content .meineschulen_newcourse {
    display: block;
    width: 44%;
    margin: 5px 2.5%;
    float: left;
}

.meineschulen_content .meineschulen_newcourse .meineschulen_newcourse_inner {
    border: solid black 1px;
    min-height: 68px;
}

.meineschulen_content .meineschulen_createcourse_link,
.meineschulen_content .meineschulen_requestcourse_link {
    display: inline-block;
    position: relative;
    left: -5px;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    background-color: #038ddc;
    background-image: url([[pix:block_meineschulen|add]]);
    background-repeat: no-repeat;
    border: solid black 1px;
    box-shadow: 4px 4px 2px #888;
    float: right;
}
.meineschulen_content a.meineschulen_createcourse_link span,
.meineschulen_content a.meineschulen_requestcourse_link span {
    display: none;
}

.meineschulen_content .meineschulen_createcourse,
.meineschulen_content .meineschulen_requestcourse {
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 90%;
}

.meineschulen_content .meineschulen_search {
    display: block;
    width: 95%;
    margin: 5px 2.5%;
    float: left;
}

.meineschulen_content .meineschulen_search .meineschulen_search_inner {
    border: solid black 1px;
}

.meineschulen_content #meineschulen_search_results table {
    width: 90%;
    margin: 10px 5%;
}

.meineschulen_content #meineschulen_search_results .highlight {
    background-color: #ffff00;
}

.meineschulen_content .meineschulen_search form {
    margin: 5px 5%;
}

.meineschulen_content .meineschulen_search form input {
    margin-right: 5px;
}

.meineschulen_content .meineschulen_school_form {
    display: block;
    width: 95%;
    margin: 5px 2.5%;
}

.meineschulen_content .meineschulen_school_form .meineschulen_school_form_inner {
    border: solid black 1px;
}

.meineschulen_content .meineschulen_school_form label {
    float: left;
    margin: 5px;
    display: inline-block;
    width: 20%;
    text-align: right;
}

.meineschulen_content .meineschulen_school_form input {
    float: left;
    display: inline-block;
    margin: 5px;
}

.meineschulen_content .meineschulen_school_form input.submitbutton {
    float: none;
    margin: 5px 40%;
}

.meineschulen_content .meineschulen_school_results {
    display: block;
    width: 95%;
    margin: 5px 2.5%;
}

.meineschulen_content .meineschulen_school_results.hidden {
    display: none;
}

.meineschulen_content .meineschulen_school_results #meineschulen_school_results {
    border: solid black 1px;
}

.meineschulen_content #meineschulen_school_results table {
    width: 90%;
    margin: 10px 5%;
}

.meineschulen_content #meineschulen_school_results .highlight {
    background-color: #ffff00;
}
