/** Hintergrundgraphiken für Sections */
.course-content ul.topics li.section .left,
.course-content ul.weeks li.section .left {
    background: transparent;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
    background: transparent;
}


.course-content ul.topics li.section .right,
.course-content ul.weeks li.section .right {
   background: transparent;
}
