/* 
    Document   : toolbar
    Created on : 22.09.2012, 11:16:32
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body #toolbar-wrapper {
    top : 120px;
    min-width: 960px;
}


#toolbar-content {
    margin: 0;
}

.pagelayout-frontpage #dock .controls {
    visibility: hidden;
}

.pagelayout-frontpage .moveto {
    display:none;
}