.meinesuche_content .meinesuche_courses {
    display: block;
    width: 60%;
    margin: 5px 2.5%;
    float: left;
}
.meinesuche_content .meinesuche_courses .meinesuche_courses_inner {
    border: solid black 1px;
    min-height: 200px;
}

.meinesuche_content .meinesuche_courses.fullwidth {
    width: 95%;
}

.meinesuche_content .meinesuche_coordinators {
    display: block;
    width: 30%;
    margin: 5px 2.5%;
    float: left;
    overflow-y: auto;
}

.meinesuche_content .meinesuche_coordinators .meinesuche_coordinators_inner {
    border: solid black 1px;
    height: 120px;
}

.meinesuche_content .meinesuche_newcourse {
    display: block;
    width: 30%;
    margin: 5px 2.5%;
    float: left;
}

.meinesuche_content .meinesuche_newcourse .meinesuche_newcourse_inner {
    border: solid black 1px;
    min-height: 68px;
}

.meinesuche_content .meinesuche_createcourse_link,
.meinesuche_content .meinesuche_requestcourse_link {
    display: inline-block;
    position: relative;
    left: -5px;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    background-color: #038ddc;
    background-image: url([[pix:block_meinesuche|add]]);
    background-repeat: no-repeat;
    border: solid black 1px;
    box-shadow: 4px 4px 2px #888;
    float: right;
}
.meinesuche_content a.meinesuche_createcourse_link span,
.meinesuche_content a.meinesuche_requestcourse_link span {
    display: none;
}

.meinesuche_content .meinesuche_createcourse,
.meinesuche_content .meinesuche_requestcourse {
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 90%;
}

.meinesuche_content .meinesuche_search {
    display: block;
    width: 95%;
    margin: 5px 2.5%;
    float: left;
}

.meinesuche_content .meinesuche_search .meinesuche_search_inner {
    border: solid black 1px;
}

.meinesuche_content #meinesuche_search_results table {
    width: 90%;
    margin: 10px 5%;
}

.meinesuche_content #meinesuche_search_results .highlight {
    background-color: #ffff00;
}

.meinesuche_content .meinesuche_search form {
    margin: 5px 5%;
}

.meinesuche_content .meinesuche_search form input {
    margin-right: 5px;
}

.meinesuche_content .meinesuche_school_form {
    display: block;
    width: 95%;
    margin: 5px 2.5%;
}

.meinesuche_content .meinesuche_school_form .meinesuche_school_form_inner {
    border: solid black 1px;
}

.meinesuche_content .meinesuche_school_form label {
    float: left;
    margin: 5px;
    display: inline-block;
    width: 20%;
    text-align: right;
}

.meinesuche_content .meinesuche_school_form label.radiolabel {
    float: left;
    margin: 5px;
    display: inline-block;
    width: inherit;
    text-align: left;
}
.meinesuche_content .meinesuche_school_form input,
.meinesuche_content .meinesuche_school_form select {
    float: left;
    display: inline-block;
    margin: 5px;
}

.meinesuche_content .meinesuche_school_results {
    display: block;
    width: 95%;
    margin: 5px 2.5%;
}

.meinesuche_content .meinesuche_school_results.hidden {
    display: none;
}

.meinesuche_content .meinesuche_school_results #meinesuche_school_results {
    border: solid black 1px;
}

.meinesuche_content .meinesuche_school_results th {
    text-align: left;
}

.meinesuche_content #meinesuche_school_results table {
    width: 90%;
    margin: 10px 5%;
}

.meinesuche_content #meinesuche_school_results .highlight {
    background-color: #ffff00;
}

.meinesuche_content .meinesuche_courses a {
    position: relative;
}

.meinesuche_content .meinesuche_courses a span.tooltip {
    overflow: hidden;
    display: none;
    z-index: 100;
    width: 600px;
    background-color: #FFFBD8;
    background-color: rgba(255, 251, 216, 0.80);
    padding: 5px 2px;
    border-radius: 5px 5px;
    border: 1px solid #888;
    box-shadow: 2px 2px 7px 0 #888;
    position: absolute;
    top: 15px;
    left: 60px;
    text-align: left;
}

.meinesuche_content .meinesuche_courses a:hover span.tooltip {
    display: inline;
}

#page-blocks-meinesuche-viewschool #page-content #region-main,
#page-blocks-meinesuche-viewschool #page-content .region-content {
    overflow: visible;
}

.block_meinesuche #meinesuche_school_form_wrapper {
    margin-top: 10px;
}
#page-blocks-meinesuche-request .schoolname {
    display: block;
    width: 40%;
    font-weight: bold;
    float: left;
}

#page-blocks-meinesuche-request .meinesuche_coordinators {
    display: block;
    width: 40%;
    float: left;
}

#page-blocks-meinesuche-request .meinesuche_coordinators_title {
    display: none;
}

#page-blocks-meinesuche-request .meinesuche_coordinators ul {
    list-style: none;
    margin: 0;
}

#meinesuche_school_form .searchtype {
    margin: 10px 5px;
}

#meinesuche_school_form .searchtype .radiolabel {
    margin-right: 8px;
}

#meinesuche_school_form #schoolname {
    float: left;
    width: 80%;
}

#meinesuche_school_form #schoolsearch_submitbutton {
    float: left;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    border: 2px outset #ccc;
    padding: 1px;
}

.yui3-aclist .moreresults {
    text-align: right;
    display: block;
}

.course_overview-standard,
.course_overview-treeview {
    display: none;
}

.course_overview-standard.selected,
.course_overview-treeview.selected {
    display: block;
}

.jsenabled .course_overview-selector input {
    display: none;
}
