.logininfo{
font-size: 15px;
font-family:"SchulbuchBayern", Consolas, monaco, monospace;}


body {
   font-family: "SchulbuchBayern", Consolas, monaco, monospace;
    font-size:15px;
    color:#001e2e;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    color:#001e2e;
}

h1 {
     font-family:"SchulbuchBayern", Consolas, monaco, monospace;
    font-size:30px; 
    line-height: 36px; 
    font-weight: bold;
}

h2, h3.sectionname, .course-content ul.topics li.section .left {
     font-size : 22px;
    font-weight:normal;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 26px;
}

h4, h5 {
    font-size: 18px;
    
    line-height: 24px;
}

h5, h6 {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-weight: normal;
}

p {
    margin-bottom: 0.5em;
    margin-top: 0.8em;
    font-size:16px;
}

hr {
    border: none;
    border-bottom: 1px solid #999999;
    height: 1px;
    margin: 12px 0 6px;
}

a {
    color: #001e2e;
}

a:hover {
    color: #001e2e;
}

/* Listen */
blockquote, ul, ol, dl {
    margin: 0 28px 0 20px;
}

/* Forms und Inputs*/
.mform fieldset legend {
    color:#356379;
}

.mform fieldset {
    border: 1px solid #6593a9;;
}

input, select, textarea, button {
    font-size: 1em;
}

input:focus,select:focus, textarea:focus {
    background-color: #ffe
}

input, select { 
    border: 1px solid silver
}

input.disabled { 
    background-color: #F0F0F0;
}

input.button  { 
    cursor: pointer;
}

.block_action input {
    border : none;
}

/* Tabellen */
.genearaltable {} /*für Editor bereitstellen*/

.generaltable th {
    border-bottom: 1px solid #cccccc;
}

.r0 {
    background-color: #f9f9f9;
}
/* Moodleinhalte */
.generalbox {
    border: 0px;
}

.navbar {
    min-height:25px;
}

/* Beadcrumbs */
.breadcrumb div {
    float:left;
    line-height:19px;
}

.breadcrumb a {
    text-decoration: none;
    color: #356379;
}

.breadcrumb a:hover {
    text-decoration: none;
    color: #053349;
}

/** wegen Hotpot-Styledeklarationen */
#region-main .breadcrumb a {
    color: #356379 !important;
}

#region-main .breadcrumb a:hover {
    color: #053349 !important;
}

.breadcrumb-sep,
.breadcrumb-nav,
.breadcrumb-start,
.breadcrumb-end {
    height: 20px;
}

.breadcrumb-sep {
    background: url([[pix:theme|breadcrumb/bg-breadcrumb-sep]]) no-repeat;
    width: 17px;
    height: 20px;
}

.breadcrumb-nav  {
    background: url([[pix:theme|breadcrumb/bg-breadcrumb-nav]]) repeat-x;
    padding-left: 3px;
}

.breadcrumb-start {
    background: url([[pix:theme|breadcrumb/bg-breadcrumb-start]]) no-repeat;
    width: 4px;
}

.breadcrumb-end {
    background: url([[pix:theme|breadcrumb/bg-breadcrumb-end]]) no-repeat;
    width: 17px;
}

.informationbox {
    background: #e4f8f8;
    padding:10px;
    margin-bottom: 10px;
}

.errorbox {
    background: #ffc4c4;
    padding:10px;
    margin-bottom: 10px;
}

/** datenschutz **/
/**Ausblenden wegen Datenschutz */
#moodle_optional, #moodle_interests, #fitem_id_country {
    display:none;
}

.smallicon {
    vertical-align: middle;
}

th, td{
	padding:0.2em;
}

.chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-bd {
    color: #555555;
    font-size: 16px;
}

.jsenabled .choosercontainer #chooseform .instruction, .jsenabled .choosercontainer #chooseform .typesummary {
    line-height: 1.4em;
}

.filemanager, .file-picker {
    color: #555555;
    font-size: 14px;
    letter-spacing: 0.2px;
}