.path-course h1.page-heading {
    font-family: "SchulbuchBayern", Consolas, monaco, monospace;
    font-size:24px;
    line-height: 32px;
    color: #038ddc;
}


.course-content ul.topics li.section .content .summary, .course-content ul.weeks li.section .content .summary {
    margin-left: 20px;
    margin-top: 0px;
    
}

.path-course-view .section .summary {
    line-height: 20px;
}



