/*Ersatz fuer die Datei dock.css aus dem Base-Theme*/

/* Das Dock */
#dock {margin-left: -4px; width:54px;position:absolute;top:230px;z-index:11000;height: 100%}
#dock.nothingdocked {visibility: hidden;display:none;}
#dock .dockeditem {background-color: #038ddc; width:50px; cursor:pointer;margin-bottom:4px; min-height : 40px;}
#dock .dockeditem .firstdockitem {margin-top:1em;border-top:1px solid #fff;}

/*#dock .dockedtitle {border-bottom:1px solid #fff;cursor:pointer;}*/
#dock .dockedtitle h2 {font-size:0.8em;line-height:100%;color:#ffffff;margin-left:0px}
#dock .dockedtitle .filterrotate {margin-left:0px;}
#dock .controls {
    background: url([[pix:theme|blocks/dock_commands]]) no-repeat;
    position:absolute;width:30px; height:47px; padding: 17px 0 0 24px;
}
#dock .controls img {cursor:pointer;}
#dock .dockeditem.dock_icon {height: 47px; background:none;}
#dock .dockedtitle h2.dock_icon {margin-left : 0px;}

/** Das Dockpanel = Poupfenster der Bloecke */
#dockeditempanel {min-width:200px;position:relative;z-index:12000;left:100%;color:#ffffff; margin-top: -10px; margin-left:4px}
#dockeditempanel a {color:#ffffff;}
#dockeditempanel.dockitempanel_hidden {display:none;}
#dockeditempanel .dockeditempanel_hd {background-color:#038ddc; padding: 0 0 3px 16px;font-size:14px;}
#dockeditempanel .dockeditempanel_hd h2 {margin:0;padding-right:1em;font-size:16px;font-family: "SchulbuchBayern", Consolas, monaco, monospace;color:#ffffff;}
#dockeditempanel .dockeditempanel_hd .commands {position: absolute;  margin: 8px; top: 4px; right: 6px;}

#dockeditempanel .dockeditempanel_bd_left {background: url([[pix:theme|blocks/bg-block-middle-left]]) repeat-y;}
#dockeditempanel .dockeditempanel_bd {overflow:auto; width:auto; background:#038ddc}
#dockeditempanel .dockeditempanel_bd .block_docked {padding:8px}
#dockeditempanel .dockeditempanel_content {z-index:12050; margin-right: 8px}
#dockeditempanel .dockeditempanel_content_right {background: url([[pix:theme|blocks/bg-block-middle-right]]) repeat-y right top}


/* wichtig fuer Automatische Groeßenaenderung im Dockpanel*/
#dockeditempanel .block_docked .block_tree li {overflow: visible;}

/** Hintergruende für einen Block auf dem Dockpanel*/
.dockeditem-top-middle {
    background: #038ddc;
    height: 5px;
    margin: 0 8px;
}


.dockeditem-top-right {
    background: url([[pix:theme|blocks/bg-block-top-right]]) no-repeat scroll right top;
    width: 8px;
    height: 5px;
    margin-right: -8px;
    float:right;
}

.dockeditem-top-left {
    background: url([[pix:theme|blocks/bg-block-top-left]]) no-repeat scroll left top;
    width : 8px;
    height: 5px;
    margin-left: -8px;
    float:left;
}

/* dockpopup unterer Rand */
.dockeditem-bottom-left, .dockeditem-bottom-middle, .dockeditem-bottom-right {
    height: 8px;
}

.dockeditem-bottom-right {
    float:right; width: 8px; margin-right: -8px;
    background: url([[pix:theme|blocks/bg-block-bottom-right]]) no-repeat;
}

.dockeditem-bottom-left {
    float:left; width: 8px;  margin-left: -8px;
    background: url([[pix:theme|blocks/bg-block-bottom-left]]) no-repeat;
}

.dockeditem-bottom-middle {
    margin: 0 8px;
    background: url([[pix:theme|blocks/bg-block-bottom-middle]]) repeat-x;
}

.ie7 #dockeditempanel {margin-top: 6px}
/** IE 6 doesn't support fixed pos elements **/
.ie6 #dockeditempanel {position:absolute;}
/** Overide for RTL layout **/
.dir-rtl #dockeditempanel {left:670%;}

.dockedtitle {
    width:54px;
    overflow: hidden;
}

.activeitem {
    width: 58px;
}





