#tile01, #tile02, #tile03, #tile04, #tile05, #tile06 {
    float:left; width:200px; height:220px; margin-bottom:5px; margin-left:26px;
}



#tile01 {
    background: url([[pix:theme|aktuelles]]) no-repeat;
}

#tile02 {
    background: url([[pix:theme|beispiel]]) no-repeat;
}

#tile03 {
    background: url([[pix:theme|fortbildung]]) no-repeat;
}

#tile04 {
    background: url([[pix:theme|support]]) no-repeat;
}




.tilecontent {
    float:left;
    position: relative;
    top: 80px;
    left: 20px;
    right:20px;
    width: 170px;
}

.tilecontent h3 {
    line-height: 18px;
    
    
}



.tilelink {
	url([[pix:theme|img-weiterlesen]])
    float: right;
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 180px;
    position: absolute;
}

body {
font-family:"SchulbuchBayern", Consolas, monaco, monospace;
    font-size:16px;
    
    line-height: 18px;

}

h1 {
    font-family:"SchulbuchBayern", Consolas, monaco, monospace;
    font-size:25px;
    
    line-height: 31px;
}

h2, h3.sectionname, .course-content ul.topics li.section .left {
 font-size: 20px;
    line-height: 35px;
    padding-top: 5px;
}

h3 {
    font-size: 18px;
    line-height: 21px;
}

h4, h5 {
    font-size: 16px;
    
    line-height: 19px;
}

h5, h6 {
    
    font-size: 14px;
    line-height: 19px;
}


input, select, textarea, button {
    font-size: 14px;
}

.section {
 font-size: 16px;
}
