.langmenu select{

   width: 130px;
   background:#C7ECFF;
   border: 1px solid #00A0F4;
}

.headermenu {
    font-size: 12px;
}

#toolbar-wrapper {
   height:40px;
    
}


#toolbar-content-left {
    float: left;
    min-height: 1px;
    width: 380px;
}

#block-toolbarcontent  a:hover + div, #block-toolbarcontent a:hover + div,
#toolbar-content a:hover + div, #toolbar-login a:hover + div, #toolbar-content-item_10 a:hover + div{
    display: block;
    margin-top: 5px;
}

#toolbar-submenu {
    position:absolute;
    background-color: #EF8C00;
    top:35px;
    z-index:10;
    border-bottom-right-radius:3px;
    border-bottom-left-radius: 3px; 
    box-shadow: 3px 3px 3px #999999;
}

#toolbar-submenu a {
    text-decoration: none;
}

#toolbar-submenu ul {
    margin: 0;
}

#toolbar-submenu li {
   
    list-style:none;
    border-top: 1px solid #FFF;
    line-height: 25px;
    padding: 0 10px 0 10px;
}

#toolbar-submenu li:hover {
    background-color: #efb86a; 
} 