#general-header, #toolbar-wrapper, .navbar .breadcrumb {
    display:none;
}

#page {
    top: 6px;
}
#dock {
    top: 30px;
}

#page-footer .homelink a {
    padding-left: 1em;
    padding-right: 1em;
    visibility:hidden;
}