.mbstcoursebox  {
    border-style: solid;
    margin-bottom: 25px;
    padding: 15px;
}
.boxtable > tbody > tr > td:first-child {
    font-weight: bold;
    padding-right: 20px;
}

.statusbox.statusbox  {
    width: 100px;
    text-align: center;
    border-style: solid;
    padding: 3px;
}
.statusbox.statuscreated       {background-color: #dad3eb}
.statusbox.statusunderreview   {background-color: #c9e2be}
.statusbox.statusunderrevision {background-color: #f3c89c}
.statusbox.statuspublished     {background-color: #e5afff}
.statusbox.statusarchived      {background-color: #cccccc}

table.mytemplates tr {border: solid;}
table.mytemplates th {border: none;}
table.mytemplates td {width: 20%; padding-top: .5em;}

.templateactionbtns {display: table;}
.templateactionbtns > div {display: table-cell;}