

#general-header-middle h1 {
    font-size:21px;
    color: #336699;
    line-height: 23px;
}


.pagelayout-frontpage #toolbar-content {
    font-size: 13px;
    margin-left: auto;
    padding-top: 0px;
}
/*Header*/

#general-header {
    height:95px;
    margin-top:3px;
}


#general-header-left {
  
    height: 92px;

   
}

#general-header-middle {
 
    height: 95px;
   
}



