
#logininfo{
	font-size:13px;
	font-weight:bold;
    margin-top: 10px;
}

#toolbar-wrapper {
   height:41px;
    
}

#toolbar-content-item_6 .toolbar-tooltip,
#toolbar-content-item_7 .toolbar-tooltip, 
#toolbar-content-item_8 .toolbar-tooltip,
#toolbar-content-item_9 .toolbar-tooltip{
    white-space: nowrap;
    margin-left: -30%;
    margin-top:0px;
}
#toolbar-content-item_10 .toolbar-tooltip {
    margin-left: 10%;
    min-width:100px;
    margin-top: 0px;
}

#toolbar-login .toolbar-tooltip {
    margin-left: 10%;
    margin-top: 0px;
    min-width:100px;
}