
.block .header h2 {
    
    background: #292929;
    
    color:#FFFFFF;
    
    }




#region-pre .block, #region-post .block {
    background: #292929;
}

#region-pre .block .bottom, #region-post .block .bottom  {
    background: #292929;
}


/* Block: Einstellungen*/
.block_settings .header {
    background: #292929 url([[pix:theme|blocks/block_settings_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

 

/* Block: Kalender*/
.block_calendar_month .header {
    background: #292929 url([[pix:theme|blocks/block_calendar_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

.day {color:#000000;}
.minicalendar, .calendar-event-panel {color: #000000;}



/* Block: Navigation */
.block_navigation .header {
    background: #292929 url([[pix:theme|blocks/block_navigation_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}


/*Block:Textblock*/
.block_html .header {
    background: #292929 url([[pix:theme|blocks/block_textblock_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Aktuelle Termine*/
.block_calendar_upcoming .header {
    background: #292929 url([[pix:theme|blocks/block_aktTermine_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Eigene Dateien */

.block_private_files .header {
    background: #292929 url([[pix:theme|blocks/block_dateien_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Mitteilungen*/
.block_messages .header {
    background: #292929 url([[pix:theme|blocks/block_messages_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Mentoren*/
.block_mentees .header {
    background: #292929 url([[pix:theme|blocks/block_mentees_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Kursliste*/
.block_course_list .header {
background: #292929 url([[pix:theme|blocks/block_course_list_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Aktivitäten*/
.block_activity_modules .header {
background: #292929 url([[pix:theme|blocks/block_activities_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Blogmenü*/

.block_blog_menu .header {
background: #292929 url([[pix:theme|blocks/block_blog_menu_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Blogschlagworte*/
.block_blog_tags .header {
background: #292929 url([[pix:theme|blocks/block_blog_tags_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}
/*Block Communitysuche*/
.block_community .header {
    background: #292929 url([[pix:theme|blocks/block_community_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Glossareintrag*/
.block_glossary_random .header {
    background: #292929 url([[pix:theme|blocks/block_glossary_random_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Kommentar*/
.block_comments .header {
    background: #292929 url([[pix:theme|blocks/block_comments_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Kurs selbst beenden*/
.block_selfcompletion .header {
    background: #292929 url([[pix:theme|blocks/block_selfcompletion_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Kursabschnitte*/
.block_section_links .header {
    background: #292929 url([[pix:theme|blocks/block_section_links_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Kursbearbeitungsstatus*/
.block_completionstatus .header {
    background: #292929 url([[pix:theme|blocks/block_completionstatus_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Mentoren*/
.block_course_summary .header {
    background: #292929 url([[pix:theme|blocks/block_course_summary_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Neue Aktivitäten*/
.block_recent_activity .header {
    background: #292929 url([[pix:theme|blocks/block_recent_activity_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Neue Blogeinträge*/
.block_blog_recent .header {
    background: #292929 url([[pix:theme|blocks/block_blog_recent_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Neue Nachrichten*/
.block_news_items .header {
    background: #292929 url([[pix:theme|blocks/block_news_items_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Online Aktivitäten*/
.block_online_users .header {
    background: #292929 url([[pix:theme|blocks/block_online_users_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Persönliches Profil*/
.block_myprofile .header {
    background: #292929 url([[pix:theme|blocks/block_myprofile_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Personen*/
.block_participants .header {
    background: #292929 url([[pix:theme|blocks/block_participants_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block RSS Feed*/
.block_rss_client .header {
    background: #292929 url([[pix:theme|blocks/block_rss_client_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Schlagworte*/
.block_tags .header {
    background: #292929 url([[pix:theme|blocks/block_tags_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Forensuche*/
.block_search_forums .header {
    background: #292929 url([[pix:theme|blocks/block_search_forums_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/*Block Testergebnisse*/
.block_quiz_results .header {
    background: #292929 url([[pix:theme|blocks/block_quiz_results_title]]) no-repeat scroll 0 7px;
    padding-left: 20px;
}

/** Zusätzliche Einstellungen für "Meine Startseite"*/
#region-main .block .header h2 {
    font-size: 15px;
    font-weight: normal;
    background: transparent;
    color:#000000;
    font-weight:bold;
}
.block_meinekurse .generaltable th.header {
    background: transparent;
    color:#000000;
}