/** Calendar **/


.calendar_event_course {background-color:#888888;}
.calendar_event_global {background-color:#888888;}
.calendar_event_group {background-color:#888888;}
.calendar_event_user {background-color:#888888;}


.block .minicalendar td.weekend {color:#000000;font-weight:bold;font-size:1.1em;}
