

.category-open {
    background : url([[pix:theme|category/bg-category-open]]) no-repeat;
    
}

.category-up {
    background : url([[pix:theme|category/bg-category-up]]) no-repeat;
}

.category-up-last {
    background : url([[pix:theme|category/bg-category-up-last]]) no-repeat;
}

.subcategory {
    background : url([[pix:theme|category/bg-subcategory]]) no-repeat;
}

.subcategory-last {
    background : url([[pix:theme|category/bg-subcategory-last]]) no-repeat;
}


#courselist-left {
     background: url([[pix:theme|course/bg-course-section-left]]) no-repeat;
}

#courselist {
      background: url([[pix:theme|course/bg-course-section]]) repeat-x;
      
}

#courselist-right {
     background: url([[pix:theme|course/bg-course-section-right]]) no-repeat;
}



.infodock-oben-links {
    background: url([[pix:theme|category/bg-infodock-oben-links]]) no-repeat;
   
}

.infodock-oben-rechts {
    background: #FFFFFF url([[pix:theme|category/bg-infodock-oben-rechts]]) repeat-x right top;
    
    
}
.infodock-unten-links {
    background: url([[pix:theme|category/bg-infodock-unten-links]]) no-repeat;
    
}
.infodock-unten-rechts {
    background: #FFFFFF url([[pix:theme|category/bg-infodock-unten-rechts]]) repeat-x right bottom;
    
}

.mycoursestabs form{
    clear: both;
    background: #E4E4E4;
    border-top: 1px solid #9f9f9f;
}

#infodock {
    background: none repeat scroll 0 0 #dadada;
    
}

#courselist-table .row-highlight {
    background: none repeat scroll 0 0 #dadada;
}


.infodock-courseinfo {
    background: none repeat scroll 0 0 #dadada;
    
}

.categorybox {
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid #9f9f9f;
}