

/** Hintergrundgraphiken für Sections */
.course-content ul.topics li.section .left,
.course-content ul.weeks li.section .left {
    background: url([[pix:theme|course/bg-course-section-left]]) no-repeat;
   
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
    background: url([[pix:theme|course/bg-course-section]]) repeat-x;
   
}



.course-content ul.topics li.section .right,
.course-content ul.weeks li.section .right {
    background: url([[pix:theme|course/bg-course-section-right]]) no-repeat scroll top right;
    
 }

