
#dock .dockeditem {background-color: #292929; }



#dock .controls {
    background-image: url([[pix:theme|blocks/dock_commands]]);
}
#dockeditempanel .dockeditempanel_hd {background-color:#292929;}

#dockeditempanel .dockeditempanel_bd_left {background: url([[pix:theme|blocks/bg-block-middle-left]]) repeat-y;}
#dockeditempanel .dockeditempanel_bd { background:#292929}
#dockeditempanel .dockeditempanel_content_right {background: url([[pix:theme|blocks/bg-block-middle-right]]) repeat-y right top}


/** Hintergruende für einen Block auf dem Dockpanel*/
.dockeditem-top-middle {
    background: #292929;
}

.dockeditem-top-right {
    background: url([[pix:theme|blocks/bg-block-top-right]]) no-repeat scroll right top;
}

.dockeditem-top-left {
    background: url([[pix:theme|blocks/bg-block-top-left]]) no-repeat scroll left top;
}

.dockeditem-bottom-right {
    background: url([[pix:theme|blocks/bg-block-bottom-right]]) no-repeat;
}

.dockeditem-bottom-left {
    background: url([[pix:theme|blocks/bg-block-bottom-left]]) no-repeat;
}

.dockeditem-bottom-middle {
    background: url([[pix:theme|blocks/bg-block-bottom-middle]]) repeat-x;
}



