/* Hintergrund*/
html {
    background: #FFFFFF;
}



#general-header-middle h1 {
    
    color: #000;
    
}

#page-content-bg-top-left {
    background: url([[pix:theme|page/bg-page-top-left]]) no-repeat scroll right top #FFF;
    
}

#page-content-bg-bottom-left {
    background: url([[pix:theme|page/bg-page-bottom-left]]) no-repeat scroll right top #FFF;
   
}