#page-my-index #region-main .block.ui-state-default {
	background: #EBEBEB;
	
	border-top: 1px solid #9F9F9F;
	color: #000;
}

#page-my-index #region-main .block.ui-state-default a {
	color: #000;
	!
	important;
}

#page-my-index #region-main .block.ui-state-active {
	background: #DFDFDF;
	
	border-top: 1px solid #9F9F9F;
	color: #000;
	border-bottom: 1px solid #9F9F9F;
}

#page-my-index #region-main .block.ui-state-active a {
	color: #000; ! important;
	font-weight: normal;
}

#page-my-index .mycoursestabs .header {
	background: #DFDFDF;
	border-bottom: 1px solid #999;
}

.mycoursestabs form {
	background: #DFDFDF;
	border-top: 1px solid #9F9F9F;
}

#page-my-index .mycoursestabs table tr {
	background: #DFDFDF;
	color: #333;
}

#page-my-index .mycoursestabs table tr:focus {
	background: #DFDFDF !important;
	color: #333;
}

#page-my-index .mycoursestabs table tr a {
	color: #000;
}

#page-my-index .mycoursestabs table tr:focus {
	background: #DFDFDF !important;
	color: #333;
}

#page-my-index .mycoursestabs .coursecontent {
	background: #EBEBEB;
	color: #333;
	width: 60% !important;
}

#page-my-index .mycoursestabs .coursecontent a {
	background: #EBEBEB;
	color: #000;
}

#page-my-index .mycoursestabs .coursecontainer .r0 {
	background: #fff !important;
	color: #000;
}

#page-my-index .mycoursestabs .coursecontainer .r1 {
	background: #fff !important;
	color: #000;
}

#page-my-index .mycoursestabs .coursecontainer .r1.hover {
	background: #EBEBEB !important;
	color: #000;
}

#page-my-index .mycoursestabs .coursecontainer .r0.hover {
	background: #EBEBEB !important;
	color: #000;
}

#page-my-index .mycoursestabs table tr:active {
	background: #EBEBEB !important;
	color: #000;
}

#page-my-index .mycoursestabs .coursecontainer .meinekurse_content .r0 {
	background: #EBEBEB !important;
	color: #000;
}

#page-my-index .mycoursestabs .coursecontainer .meinekurse_content .r1 {
	background: #EBEBEB !important;
	color: #000;
}

#page-my-index .mycoursestabs .coursecontainer .meinekurse_content .r1.hover
	{
	background: #EBEBEB !important;
}

#page-my-index .mycoursestabs .coursecontainer .meinekurse_content .r0.hover
	{
	background: #EBEBEB !important;
}

.meineschulen_content .meineschulen_school_form .meineschulen_school_form_inner
	{
	background: #EBEBEB;
	
}

.mycoursestabs .newtext {
    background: none repeat scroll 0 0 #292929;
}