
/** toolbar Hintergrund */
#toolbar-wrapper {
    background: url([[pix:theme|toolbar/bg-toolbar]]) repeat-x;
    
}

.tooltip-content {
    background: url([[pix:theme|toolbar/tooltip]]) repeat-x;
}

.tooltip-left {
    background: url([[pix:theme|toolbar/tooltip-left]]) no-repeat;
    
}

.tooltip-right {
    background: url([[pix:theme|toolbar/tooltip-right]]) no-repeat;
   
}

.langmenu select{

   width: 130px;
   background:#FFF;
   border: 1px solid #292929;
}