

#toolbar-submenu {
    position:absolute;
    background-color: #292929;
    top:35px;
    z-index:10;
    border-bottom-right-radius:3px;
    border-bottom-left-radius: 3px; 
    box-shadow: 3px 3px 3px #999999;
}

#toolbar-submenu a {
    text-decoration: none;
}

#toolbar-submenu ul {
    margin: 0;
}

#toolbar-submenu li {
   
    list-style:none;
    border-top: 1px solid #FFF;
    line-height: 25px;
    padding: 0 10px 0 10px;
}

#toolbar-submenu li:hover {
    background-color: #565656; 
} 