$base-font-size: 16px!default;

@function emCalc($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@mixin hypens($value) {
    -webkit-hyphens: $value;
    -moz-hyphens: $value;
    -ms-hyphens: $value;
    hyphens: $value;
}

@mixin word-wrap($value){
    -ms-word-break: $value;
    word-break: $value;

    @if $value == "break-all" {
        /* Non standard for webkit */
        word-break: break-word;
    }
}
