@import "compass/css3";
@import "mixins";
@import "variables";
@import "fonts";

@import "bootstrap";
@import "bootstrap-advanced";

@import "../vendor/font-awesome/font-awesome";

// Vendor CSS
@import "../vendor/tooltipster/tooltipster";

// Import Compass-Modules
@import "compass/layout/sticky-footer";

@import "layout";

// Pages
@import "pages/learning-platform";

// Moodle Style Overwrites
@import "moodle/pageheader";
@import "moodle/sidenav";
@import "moodle/coursebox";
@import "moodle/categorybox";
@import "moodle/schoolbox";
@import "moodle/footer";
@import "moodle/coursesorting";
@import "moodle/course";
@import "moodle/general";
@import "moodle/menu";
@import "moodle/settings";
@import "moodle/apps";
@import "moodle/overrides";
@import "moodle/admin";
@import "moodle/chat";
@import "moodle/lightbox";
@import "moodle/category";
