{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Montag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Montag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Dienstag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Dienstag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Mittwoch_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Mittwoch_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Donnerstag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Donnerstag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Freitag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Freitag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Samstag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Samstag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Sonntag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Sonntag_count}}</div>
</div>