{{!
    Summary.

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * Montag
}}

<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Montag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Montag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Dienstag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Dienstag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Mittwoch_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Mittwoch_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Donnerstag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Donnerstag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Freitag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Freitag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Samstag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Samstag_count}}</div>
</div>
<div class="row">
  <div class="col-sm-5 col-md-6 col-xs-5">{{Sonntag_date}}</div>
  <div class="col-sm-4 col-md-4 col-xs-7">{{Sonntag_count}}</div>
</div>