@import "compass/css3";
@import "mixins";
@import "variables";
@import "fonts";

@import "bootstrap";
@import "bootstrap-advanced";

@import "../vendor/font-awesome/font-awesome";

// Vendor CSS
@import "../vendor/tooltipster/tooltipster";

// Import Compass-Modules
@import "compass/layout/sticky-footer";

@import "layout";

// Pages
@import "../../scss/learning-platform";

// Moodle Style Overwrites
// Finished styles
@import "../../scss/moodle/category";
@import "../../scss/moodle/coursebox";
@import "../../scss/moodle/pageheader";
@import "../../scss/moodle/pagefooter";
@import "../../scss/moodle/schoolbox";

// Need more work?
@import "../../scss/moodle/cu-admin";
@import "../../scss/moodle/cu-blocks";
@import "../../scss/moodle/cu-course";
@import "../../scss/moodle/cu-pages";
@import "../../scss/moodle/cu-general";
@import "../../scss/moodle/cu-courseformats";
@import "../../scss/moodle/cu-usermessages";
@import "../../scss/moodle/cu-userfilemanager";
@import "../../scss/moodle/cu-userprofile";
@import "../../scss/moodle/cu-overlays";
@import "../../scss/moodle/cu-activities";

/** To check whether styles are necessary:

TODO: need to check whether some style are necessary, kept for documentation
@import "moodle/admin" 
@import "moodle/settings";

TODO: need separate thematically 
@import "moodle/course"; 
@import "moodle/overrides";
@import "moodle/lightbox";
*/