.block {
    label, th {
        color: #333;
    }
}

/*.block-regions{
    &.editing {
        > div {
            border: 1px dashed $brand-primary;
        }
    }
    > div {
        min-height: 215px;
    }
}*/
