/* This file contains Styles related to categories.

Please note that unfortunately there are two differnet category (box) containers:

category-box: 
 This box ist used to display a (hierarchical) ordered List of categories 
 (for example for a school category on category pages)

categorybox: 
  This box is only used in the block_mbsmycourses within a category-box container
  Is this realy needed? Should'nt we move this into _cu-blocks?
*/
/* 
    Created on : 19.05.2015
    Author     : Andreas Wagner, ISB Bayern.
*/

.category-box {
    color: $brand-gray-dark;

    .category-course {
        .category-course-title {
            padding: 15px 0 15px 20px;
            margin: 2px 0;
            .accessible {
                float: right;
                margin-right: 20px;
            }
            .infoToggle {
                cursor: pointer;
                color: $white;
                float: right;
                margin-right: 20px;
                line-height: 2em;
            }
            span.category-course-title-name {
                margin-left: 5px;
            }
            i {
                color: $white;
                font-size: 1.25em;
            }
            a {
                color: $white;
            }
        }
        .category-course-info {
            color: $white;
            display: none;
            padding: 0 15px 1px 41px;
        }
    }

    > .category-container {
        padding: 0 !important;
        > .category-title {

            font-weight: bold;
            background-color: $brand-primary !important;
            padding: 20px !important;
            margin-bottom: 0!important;
            > span.category-title-name a {
                color: $white;
            }
            >.category-toggle {
                color: $white;
            }
        }
        > .category-body {
            background-color: $white !important;
            margin-top: 0px !important;
            padding: 20px !important;
            >.category-course {
                background-color: rgba($brand-primary, 1.0);
            }
            >.category-container {
                >.category-title {
                    background-color: rgba($brand-primary, 1.0);
                }
                >.category-body {
                    >.category-course {
                        background-color: rgba($brand-primary, 0.85);
                    }
                    >.category-container  {
                        >.category-title{
                            background-color: rgba($brand-primary, 0.85);
                        }
                        >.category-body {
                            >.category-course {
                                background-color: rgba($brand-primary, 0.7);
                            }
                            >.category-container  {
                                >.category-title{
                                    background-color: rgba($brand-primary, 0.7);
                                }
                                >.category-body {
                                    >.category-course {
                                        background-color: rgba($brand-primary, 0.55);
                                    }
                                    >.category-container  {
                                        >.category-title{
                                            background-color: rgba($brand-primary, 0.55);
                                        }
                                        >.category-body {
                                            >.category-course {
                                                background-color: rgba($brand-primary, 0.4);
                                            }
                                            >.category-container  {
                                                >.category-title{
                                                    background-color: rgba($brand-primary, 0.4);
                                                }
                                                >.category-body {
                                                    >.category-course {
                                                        color: $brand-gray-dark;
                                                        background-color: rgba($brand-primary, 0.25);
                                                    }
                                                    >.category-container  {
                                                        >.category-title{
                                                            color: $brand-gray-dark;
                                                            background-color: rgba($brand-primary, 0.25);
                                                        }
                                                        >.category-body {
                                                            >.category-course {
                                                                color: $brand-gray-dark;
                                                                background-color: rgba($brand-primary, 0.1);
                                                            }
                                                            >.category-container  {
                                                                >.category-title{
                                                                    color: $brand-gray-dark;
                                                                    background-color: rgba($brand-primary, 0.1);
                                                                }
                                                                >.category-body {
                                                                    >.category-course {
                                                                        color: $brand-gray-dark;
                                                                        background-color: rgba($brand-primary, 0.05);
                                                                    }
                                                                    >.category-container  {
                                                                        >.category-title{
                                                                            color: $brand-gray-dark;
                                                                            background-color: rgba($brand-primary, 0.05);
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        margin: 0 0 5px !important;
    }

    >.category-course {
        background-color: $brand-primary !important;
        margin: 5px 0 !important;
        padding: 20px !important;
        >.category-course-title {
            padding: 0 !important;
            span.category-course-title-name {
                margin-left: 5px;
                a {
                    color: $white;
                }
            }
            i {
                color: $white;
                font-size: 1.25em;
            }
        }
        >.category-course-info {
            color: $white;
        }
    }
    .category-container {
        .category-title {
            padding: 15px 0 15px 10px;
            margin: 2px 0;
            color: $white;
            .category-toggle {
                cursor: pointer;
                float: right;
                margin-right: 20px;
                &::before {
                    font-family: 'mebis-icons';
                    content: "\e63d";
                }
                &.open {
                    &::before{
                        font-family: 'mebis-icons';
                        content: "\e662";
                    }
                }
            }
            span.category-title-name {
                margin-left: 5px;
                a {
                    color: $white;
                }
            }
        }
        .category-body {
            display: none;
            margin: 2px 0;
            padding: 0 0 0 20px;
            @media only screen and (max-width: $screen-xc) {
                padding: 0;
            }
        }
    }
}

.categorybox {

    padding: 15px 0;

    .category-container {
        background-color: $white;
        margin: 1px 20px;
        padding: 20px 0px;

        &.category-name {
            padding-left: 20px;
            padding-right: 20px;

            .closebutton {
                font-family: FontAwesome;
                position: absolute;
                right: 60px;
                top: 23px;
                color: #333333;
                cursor: pointer;
            }
        }

        .category-coursebox {
            padding: 17px 60px;
            margin: 0px 40px 1px 0;
            background-color: #CCC;

            .iconbox {
                font-family: FontAwesome;
                position: absolute;
                top: 10px;
                left: 30px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                background-color: #858585;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                color: #E4E4E4;
                text-align: center;
            }

            .newbox {
                position: absolute;
                top: 0px;
                right: 60px;
                width: 40px;
                height: 30px;
                line-height: 30px;
                background-color: #A0A0A0;
                font-weight: 400;
                font-style: normal;
                font-size: 10px;
                color: $white;
                text-align: center;
            }
        }
    }
}

#page-course-index-category .collapsible-actions {
    display: none;
}

#page-course-index-category .category  {

    background-color: $white !important;

    > .info {
        background-color: $brand-primary !important;
        padding: 15px 20px;
        margin: 2px 0 0 0;
        border: none;

        h3::after, h4::after {
            content: "";
            font-family: "mebis-icons";
            float: right
        }

        h3::after {
            margin-right: 20px;
        }

        h3, h4, h3 a, h4 a {
            font-size: 18px;
            color:white;
            margin:0;
            padding:0;
            line-height: 1em;
            font-weight:400;

        }
    }  

}

#page-course-index-category .category {

    > .info {
        background-color: rgba($brand-primary, 1.0)  !important;
    }

    > .content .category{
        > .info {
            background-color: rgba($brand-primary, 0.85)  !important;
        }
        > .content .category {
            > .info {
                background-color: rgba($brand-primary, 0.7)  !important;
            }
            > .content .category{
                > .info {
                    background-color: rgba($brand-primary, 0.55)  !important;
                }
                > .content .category{
                    > .info {
                        background-color: rgba($brand-primary, 0.4)  !important;
                    }
                    > .content .category{
                        > .info {
                            background-color: rgba($brand-primary, 0.25)  !important;
                        }
                    }
                }
            }
        }
    }
}

#page-course-index-category .category.collapsed {

    > .info h3::after, .info h4::after {
        content: "";
        font-family: "mebis-icons";
        float: right;
    }
}

#page-course-index-category .course_category_tree {

    .category.with_children > .info > .categoryname {
        background-image: none;
        padding:0;
        margin: 0;
        line-height: 26px;
    }

    .category.with_children.collapsed > .info > .categoryname {
        background-image: none;
    }

    > .content  > .subcategories > .category > .info {

        padding: 20px;
        margin-top:5px;

        h3 a {
            font-weight:bold;
        }
    }

    > .content > .subcategories > .category.with_children > .content {
        padding: 20px;

    }
    > .content > .subcategories > .category > .content > .subcategories {
        padding: 0px;
    }
}

#page-course-index-category  .content .courses {

    margin: 0;

    .coursebox {

        border: none;
        margin: 2px 0 0 0;
        background-color: $brand-primary;

        .info {

            line-height: 26px;
            background: none;
            border:none;

            span a {

                vertical-align: top;

                img {
                    vertical-align: baseline;
                }
            }

            span.coursename::before {
                content: "";
                font-family: "mebis-icons";
                margin-right: 5px;
                font-size:22px;
            }
        }

        a {
            color: $white;
        }

    }

}
