.block_mbsmycourses .category-box {
    border: 0px;
    background-color: transparent;
}

.categorybox {
    padding: 15px 0;

    .category-container {
        background-color: $white;
        margin: 1px 20px;
        padding: 20px 0px;

        &.category-name {
            padding-left: 20px;
            padding-right: 20px;

            .closebutton {
                font-family: FontAwesome;
                position: absolute;
                right: 60px;
                top: 23px;
                color: #333333;
                cursor: pointer;
            }
        }

        .category-coursebox {
            padding: 17px 60px;
            margin: 0px 40px 1px 0;
            background-color: #CCC;

            .iconbox {
                font-family: FontAwesome;
                position: absolute;
                top: 10px;
                left: 30px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                background-color: #858585;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                color: #E4E4E4;
                text-align: center;
            }

            .newbox {
                position: absolute;
                top: 0px;
                right: 60px;
                width: 40px;
                height: 30px;
                line-height: 30px;
                background-color: #A0A0A0;
                font-weight: 400;
                font-style: normal;
                font-size: 10px;
                color: $white;
                text-align: center;
            }
        }
    }
}
