.path-mod-chat-gui_basic {
    background: $bg-dark;
    .generaltable {
        color: $brand-gray-dark;
    }
    #messages dl {
        background: $brand-gray-medium;
    }
}

.path-mod-chat-gui_ajax {
    background: $bg-dark;
    #input-message, #choosetheme {
        color: $brand-gray-dark;
    }
}
