.course-sorting {
    padding: 15px 0;
    border-top: dotted 1px rgba(230,230,230,0.3);
    border-bottom: dotted 1px rgba(230,230,230,0.3);
    margin-bottom: 20px;

    input, select, label {
        margin-bottom: 0;
    }

    label {
        margin-top: 10px;
    }
}

