
.single-section  {
    &.onetopic {
        .nav.nav-tabs.nav-justified {
            li {
                background-color: inherit !important;

                .active {
                    background-color: #999;
                }
                a {
                    border: none;
                }
            }
            background-color: #FFF;
            padding: 10px 20px;
            margin-bottom: 20px;
        }
    }
    .section-navigation{
        overflow: hidden;
        padding: 1em 0 !important;
        > div > div {
            margin-top:1px;
            padding: 20px;
            background-color: #FFF;
            text-align: center;
        }
    }
}
.course-content{

    .section.main {
        background-color: #FFF;
        margin-top: 30px !important;
        padding: 20px !important;
        h3 {
            text-align: left;
        }
        .content {
            padding: 20px !important;
            color: #333;

            .page.modtype_page, .imscp.modtype_imscp,.resource.modtype_resource,.quiz.modtype_quiz {
                background-color: #F0F0F0;
                margin-top: 1px;
            }
        }
        &.hide_section {
            display: none;
            visibility: hidden;
        }
    }
}

#gridiconcontainer {
    .gridicons {
        > div > div {
            min-height: 220px;

            &.currentselected {
                background-color: transparent !important;
                opacity: 1;
            }
            .image_holder {
                background-color: #999;
                border: none;
                border-radius: 0px;
                min-height: 150px;
                &:hover {
                    border:none !important;
                }
            }
            .icon_content {
                background-color: #FFF;
                padding: 10px;
                font-family: "Titillium Web SemiBold","Titillium Web";
                font-weight: 600;
                font-style: normal;
                font-size: 20px;
                text-align: left;
            }
        }
    }
}
#gridshadebox {
    #gridshadebox_overlay {
        z-index: 2;
    }
    #gridshadebox_content {
        position: absolute !important;
        left:0 !important;
        top: 200px !important;
        right: 0;
        border: none;
        z-index: 3;

        gtopics {
            margin: 0 15px 10px;
        }

        div div ul li, div div ol li {
            border-bottom: none;
            padding-bottom: 4px;
            padding-top: 2px;
        }

        div div ul li {
            list-style: disc outside none;
        }
        div div ol li {
            list-style: decimal outside none;
        }

        .section.main{
            .content {
                padding: 20px !important;
                .activity{
                    border-bottom: none;
                }
                .page.modtype_page, .imscp.modtype_imscp,.resource.modtype_resource,.quiz.modtype_quiz {
                    background-color: #F0F0F0;
                    margin-top: 1px;
                }
            }
            &.hide_section {
                display: none;
                visibility: hidden;
            }
            .side {
                &.right {
                    float: right;
                }
                &.left {
                    float: left;
                }
            }
        }

        #gridshadebox_close {
            position: absolute;
            right: 0px;
            cursor: pointer;
            top: -56px;
            background-color: #DDD;
            padding: 15px 5px;
        }
        .gridshadebox_arrow {
            position: relative;
            cursor: pointer;
            padding: 20px;
            background-color: #FFF;
            opacity: 1;
            text-align: center;
            &#gridshadebox_right {
                top: inherit;
                right: inherit;
                top: 80px;
            }
            &#gridshadebox_left {
                top: inherit;
                left: inherit;
                top: 80px;
            }
        }
    }
}

.course-content {
    ul.ctopics li.section{
        /*        &.main .content {
                    margin: 0px -20px !important;
                }*/
        .content{
            color: #333;
            .toggledsection {
                display: none;
                &.sectionopen{
                    display: inline-block;
                }
            }

            .sectionhead {
                position:relative;
                background-color: transparent !important;
                h3{
                    font-family: "Titillium Web SemiBold","Titillium Web";
                    font-weight: 600;
                    font-style: normal;
                    font-size: emCalc(18px);
                    text-align: left;
                    line-height: 24px;
                }
                .closebutton {
                    font-family: FontAwesome;
                    position: absolute;
                    right: 0px;
                    top: 12px;
                    color: #333333;
                    cursor: pointer;
                }
            }
            margin: 0px;
            padding: 10px !important;
        }
        &.body {
            background-color: $white;
            padding: 20px !important;
            margin: 2px 1px 1px;
        }
        padding: 0px !important;
    }
}

ul.jumpnavigation {
    position:fixed;
    top:40%;
    right:0;
    z-index:5;
    list-style:none;
    color: $white;
    padding: 50px 0 50px 100px !important;
    li.jumpnavigation-point {
        background-color:$brand-secondary;
        padding: 0px 15px ;
        margin-top:2px;
        height: 26px;
        cursor: pointer;
        min-width: 50px;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: right;
        span {
            font-family: "Titillium Web Light","Titillium Web";
            font-weight: 300;
            font-style: normal;
            font-size: calcEm(16px);
            text-align: center;
            line-height: normal;
            display: none;
        }
        &:hover {
            background-color:$brand-primary;
        }
        &.up-arrow {
            height: 50px;
            width: 50px;
            margin-top:7px;
            float: right;
            span {
                font-size: 32px;
                display: inline-block;
            }
        }
    }
    &:hover {
        li.jumpnavigation-point {
            span {
                display: inline-block;
            }
        }
    }
}