/*
    Styles, which are used for overlays

    - moodle-dialogue-base
    - newmessageoverlay
*/
/* 
    Created on : 28.05.2015, 13:46:45
    Author     : Franziska Hübler, ISB
*/

.moodle-dialogue-base {
    // color: $brand-gray-dark;

    .moodle-dialogue.filepicker {

        @media only screen and (max-width: $screen-desktop) {
            left: 10%;
            width: 85%;
            top: 100px;
        }
    }

    /* fhüb: Do we really need this? 
    .moodle-dialogue-wrap {
          border-radius: 0;
  
          .moodle-dialogue-hd.moodle-dialogue-hd {
              background: $gray-lighter;
              text-shadow: none;
          }
  
          input[type="text"] {
              max-width: 0;
              min-width: 100%;
              display: block;
          }
  
          .yui3-button.closebutton {
              border-radius: 0;
              box-shadow: none;
          }
  
          label.control-label {
              color: $brand-gray-dark;
          }
      }*/
}

#newmessageoverlay {
    @media only screen and (max-width: $screen-desktop) {
        bottom: 50px;
    }    
}