/* 
    This file contains style customizations for the course formats:

    - topics format
    - collapsed topics.
    - one topic.
    - grid format.

    Note that customizations for section based course formats are located
    in _course.scss when definitions are made for all formats!

    Created on : 18.05.2015, 08:22:35
    Author     : Andreas Wagner, ISB Bayern
*/

// +++++++From here on: special styles for topics format. ++++++++++++
#page-course-view-topics #main-content-wrapper  {
    background: transparent;
}

// +++++++From here on: special styles for collapsed topic format. ++++++++++++
#page-course-view-topcoll #main-content-wrapper  {
    background: transparent;

    .sectionname {
        color: $white;
    }
}

// Collapse and expand.
#page-course-view-topcoll {

    #topcoll-display-instructions {
        color: $white;
    }

    //Completionprogress
    .section .completionprogress {
        padding-right: 40px;
    }

    .course-format-topcoll > .completionprogress {
        color: $white;
    }

    // Highlight current section.
    .course-content ul li.section.main.current {
        border-left-color: $brand-primary;
        border-left-width: 18px;
        border-left-style: solid;

    }
    // Toggle icons.
    .the_toggle:before {

        float:right;
        font-family: 'mebis-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 0.875em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
    }

    .toggle_closed {
        background-image: none;

        &:before {
            content: "\e63d";
        }
    }

    .toggle_open {
        background-image: none;

        &:before {
            content: "\e662";
        }
    }

    // Remove background;
    #toggle-all .content .toggle-arrow-hover h4 {

        a.on {
            background-image:none;
            &:hover {
                background-image:none;
            }
        }

        a.off {
            background-image:none;
            &:hover {
                background-image:none;
            }
        }
    }

    // Toggle switch with headline
    .ctopics li.section .content .toggle {

        background: $brand-primary;
        padding: 10px 10px 10px 0;
        border-radius: 0;

        a {
            text-align:left;
            color:white;

            &:hover {
                color: $white;
            }
        }

        h3 {
            font-weight: 700;
        }

        &:hover {
            background: $brand-secondary;
        }
    }

    // Other sections.
    .ctopics .toggledsection {

        padding : 20px;

        .section {
            margin-top : 0;
        }
    }

    // Content Area.
    .ctopics li.section.main {

        border: none;
        margin-bottom: 20px;

        .content {
            margin: 0;
            padding: 0 !important;

            // One section per page
            > .section-title {
                padding: 40px 40px 0 40px;
                margin-bottom: 12.5px;
            }

            > .summarytext {
                padding : 0 40px;            
            }

            > .section-summary-activities {
                padding : 0 40px;            
            }

            > .summary {
                padding: 40px 40px 0 40px;
            }

            > ul {
                padding: 0 40px 40px 40px;
            }
        }
    }
}

// +++++++++  From here on: special styles for one-topic format +++++++++++++++.
#page-course-view-onetopic #main-content-wrapper  {
    background: transparent;
}

#page-course-view-onetopic .course {

    &.course-format-onetopic {

        // Navigation above the topic.
        .single-section.onetopic .nav.nav-tabs {

            background: transparent;
            border-top: dotted 1px rgba(230,230,230,0.3);
            border-bottom: dotted 1px rgba(230,230,230,0.3);
            padding-top: 20px;
            padding-bottom: 10px;

            li {
                padding: 0 20px 10px 0;
                border: 0;

                a {
                    color: $white;
                    border: 0;
                    text-align: center;

                    .marker {
                        font-style: normal;
                    }
                }

                &.active a, a:hover, a:active, a:focus {
                    color: $white;
                    background: $brand-secondary;
                }
            }
        }

        // Navigation below the topic.
        .single-section .section-navigation {

            margin: 0 10px;

            > div > div {

                padding: 0;
                margin-top: 0;
                background: transparent;

                a {
                    display: block;
                    padding: 20px;
                    background: $brand-primary;
                    color: $white;
                    width: 100%;
                }
            }
        }
    }
}

// +++++++From here on: special styles for grid format. ++++++++++++
#page-course-view-grid {

    //Need important because of element.style
    #gridshadebox_content {
        left: 10% !important;
        width: 85% !important;
        top: 150px !important;
        border: none;
        z-index: 999 !important;

        #gridshadebox_close {                    
            padding-top: 5px;
            padding-right: 5px;
            margin-bottom: 20px;
            cursor: pointer;                 
        }

        .gridshadebox_arrow {
            position: relative;
            cursor: pointer;
            opacity: 1;
            background: $brand-primary;

            &:hover {
                background: $brand-secondary;
            }
        }

        ul .gtopics {
            margin-left: 0;
            margin-right: 0;

            >div .content {
                margin-left: 0;
                margin-right: 0;
            } 
        }
    }

    .course-content {

        .gridicon_link {
            cursor: pointer;
        }
        ul li.section.main {
            padding: 0;
            border-bottom: inherit;
            border-left: none;
        }
    }

    #main-content-wrapper  {

        padding: 0 15px;

        .course-content ul.gridicons li {

            padding-left: 0;
            padding-right: 0;
            margin: 10px;            
            -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3); 
            box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);

            &:hover {
                background-color: $brand-secondary;
                .image_holder {
                    box-shadow: none;
                }
            }

            .image_holder {
                border-style: none;
                background-color: transparent;
                width: auto;

            }

            p.icon_content {
                white-space: normal;
                height: auto;          
            }

            a {
                .icon_content {
                    font-weight: 200;
                    line-height: 20px;
                    margin-bottom: 5px;
                    position: relative;
                    color: $gray-dark;
                    text-align: center;

                    &:before {
                        content: "\00BB";
                        font-size: 1.125em;
                        color: $brand-primary;
                        vertical-align: middle;
                        margin-top: -12px;
                    }
                } 
            }
        }
    }
}