/*
    This file contains style customizations for activities:

    - database
    - assign
    - feedback
*/
/* 
    Created on : 05.06.2015, 12:13:08
    Author     : Franziska Hübler, ISB
*/

#page-mod-data-templates #main-content-wrapper {

    div > ul.nav.nav-tabs.nav-justified li {     
        width: 25%;
        float:left;
        @media only screen and (max-width: $screen-desktop) {
            width: 100%;
        }
        @media only screen and (max-width: $screen-tablet) {
            width: 30%;
            float:left;
        }
    }
}

#page-mod-assign-mod #main-content-wrapper {
    
    fieldset.clearfix.collapsible fieldset.felement.fgroup span {
        white-space: nowrap;
        
        span.helptooltip {
            margin-right: 20px;
        }
    } 
}

#page-mod-feedback-complete #main-content-wrapper {
    
    input[type="submit"] {
        margin-left: 0;
    }
}

#page-mod-mediathek-mod #main-content-wrapper {
    
    fieldset.clearfix.collapsible button {
        margin-left: 0;
    }
}

#page-mod-journal-report {
    
    .userpix {
        
        img {
            max-width: none;
        }
    }
}

#page-mod-quiz-edit {
    
    div.quizcontents {
        padding: 20px;
        background-color: $white;
    }
    
    .questionbankwindow {
        .title {
            word-wrap: break-word;
        }
    } 
}

#page-mod-quiz-attempt,
#page-mod-quiz-review {
    
    div.content {
        
        &:before {
            display: none;
        }
        
        .formulation {
            color: $brand-gray-dark;
        }
    }
}