/*
Most of the pages containing a form, which ist editable by teachers or admins has
the page layout "admin" or "report"

This page layouts should be fully flexible to large screens.
Put all the pagelayout specific styles here.

*/
/* 
    Created on : 17.05.2015, 08:47:11
    Author     : Admin
*/

.pagelayout-admin, .pagelayout-report {

    //styling block configuration page 
    #main-content-wrapper {
        //need important because of the styling of mydashboard (#page-my-index #main-content-wrapper in _cu-pages.scss)
        background: $white !important;
        color: $black !important;
    }      

    .admin-navigation {

        margin-bottom: 20px;

        h3 {
            color: $white;
        }
        
        select {
            max-width: 100%;
        }
    }
}

.pagelayout-maintenance {

    .me-wrapper .container.homepage-container.admin-container {
        background: $white;
        margin-bottom: 40px;
    }   
}

.admin-container {
    
    table {
        background: $white;
    }
}

@media only screen and (min-width: $screen-lg-min) {

    .admin-container {

        width: 100%;
        max-width: 1692px;
        padding-left: 100px;

        .admin-content {
            margin-bottom: 25px;
        }

        table {

            .mceToolbar {
                width : auto !important;
            }
        }

    }
}