/*
    Styles, which are used for userprofile
*/
/* 
    Created on : 28.05.2015, 14:26:10
    Author     : Franziska Hübler, ISB
*/

.userprofile {
    .header-button-group {
        margin-top: -40px;
        margin-bottom: 20px;   
    }

    .profile_tree {
        @include column-count(2);
        @include column-gap(20px);

        section {
            border: 1px solid $brand-primary;
            padding: 0 15px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: $screen-sm-min) {
    .userprofile {
        .profile_tree {
            @include column-count(1);
        }
    }
}

