#page-footer {
    border-top: none;
    margin-top: 110px;
}
.me-wrapper .me-search-box {
    margin-bottom: 0px;

    label {
        color: #333;
    }
}

.me-event-footer {
    margin-bottom: -80px;
    margin-top: 0px;
}

footer .footer-copyright {
    margin-top: 22px;
}
