ul {

    &.weeks {

        h3 {

            &.sectionname {
                color: $white !important;
            }
        }
    }
}

h1, h2 {
    color: $white;
}

.block {

    h2 {
        color: #333;
    }
}

.highlight {
    background: $brand-gray-dark;
    color: $white;
    border-radius: 5px;
}

.pagination-row {
    margin-top: 25px;
    margin-bottom: 25px;
}