.highlight {
    display: inline-block;
    padding: 0 2px;
    background: $brand-primary;
    color: $white;
}

.pagination-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

div[role=main] {
    color: $white;
}

.block h2,
.dndsupported .dndupload-message,
p.tree_item,
.singlebutton,
.fp-btn-choose,
.form-submit,
select,
input[type=submit],
.course-content,
div.block,
.loginbox,
.loginbox label,
.que,
.que .formulation,
.que label,
.forumpost {
    color: $brand-gray-dark !important;
}

.hiddenelement {
	display: none;
}

.tree_item  span, .tree_item span:focus {
	outline: 0;
}

.collapsed .fcontainer, .collapsed ul {
	display: none;
}

.text-mobile-left {
    @media only screen and (max-width: $screen-xs-min) {
        text-align: left!important;
    }
}

.dir-ltr.editing.used-region-side-post.used-region-side-pre #block-region-side-pre {
    padding: 0;
}

.dir-ltr.editing.used-region-side-post.used-region-side-pre #block-region-side-post {
    padding: 0;
}
.moodle-dialogue-base .moodle-dialogue-wrap {
    @include box-shadow(0 5px 20px 0 rgba(0,0,0,0.3));
}

.block-region .col-md-4 {
    min-height: 150px;
}


.moodle-actionmenu {
    width: 100%;

    .toggle-display {
        display: block;
    }

    .menu {
        position: absolute;
        left: auto!important;
        display: none;
        min-width: 260px;

        .iconsmall {
            margin: 0;
        }

        .menu-action-text {
            display: block;
            font-size: 12px;
            display: inline-block;
        }
    }

}

.block-transparent .block {
    background: transparent;
    border: 0;

    .header {
        padding: 0;
        position: relative;

        .moodle-actionmenu {
            position: absolute;
            right: 0;
            top: 10px;
        }
    }

    h1, label {
        color: $white;
    }
}

.block_mbsmycourses {

    .content {
        padding: 4px 0;
        margin: 0;

        h1 {
            color: $white;
        }
    }

    .singleselect {
        margin-bottom: 20px;

        select {
            display: inline-block;
            width: auto;
            margin-bottom: 0;
        }
    }

    .mbsnewcourse {
        float: right;
        padding: 20px 0 0;
    }
}

.block_mbsgettingstarted {
    
    .btn .btn-secondary {
        margin: 2px, 0px;
        
        .btn-lg {
            font-size: 23px;            
        }
    }
    
    .wizzardlinks ul {
        margin-top: 6px;
    }
    
    .aidlinks ul {
        margin-top: 12px;
    }
    
}

#block-region-side-pre, #block-region-side-post {

    .block {
        margin-bottom: 40px;
        padding: 20px 5px;
        border: 0;

        .header {
            padding-top: 0;
        }

        &.block_calendar_month {

            .arrow_link {

                .arrow {
                    font-size: 0;
                    text-indent: -999em;
                    font-family: 'mebis-icons';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                &.previous .arrow:before { content: "\e646"; font-size: 18px; }
                &.next .arrow:before { content: "\e645"; font-size: 18px; }

            }
        }

        &.block_private_files {

            ul {
                list-style: none;
            }

            img.icon { vertical-align: middle; }

            .singlebutton {
                margin-top: 15px;

                div,
                input[type="submit"] {
                    margin: 0;
                }

                input[type="submit"] {
                    background: $brand-primary;
                    color: $white !important;
                    border: 1px solid $brand-primary;
                    @include transition(all .25s);

                    &:hover {
                        background: $brand-secondary;
                        border: 1px solid $brand-secondary;
                    }
                }

            }
        }
    }
}

#page-footer .performanceinfo {
    background: #ffffff;
    font-size: 0.75em;
}

.path-mod.pagelayout-incourse .homepage-container div[role="main"] {

    color: #333;
    background: #ffffff;
    padding: 10px;
    
    h2 {
        background:$bg-dark;
        color:#ffffff;
        margin: -10px;
        padding-bottom: 10px;
    }

    label {
        color: $black;
    }

    .generaltable {
        color : $black;
    }
}

#maincontent {
    height : 0px;
}