ul {
    &.weeks {
        h3 {
            &.sectionname {
                color: $white !important;
            }
        }
    }
}

h1, h2 {
    color: $white;
}

.block {
    h2 {
        color: #333 !important;
    }
}

.highlight {
    background: $brand-gray-dark;
    color: $white;
    border-radius: 5px;
}

.pagination-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

div[role=main] {
    color: $white;
}

.mform legend a,
.mform legend a:hover {
    color: white !important;
}

.dndsupported .dndupload-message,
p.tree_item {
    color: #333 !important;
}