.unreadMessages {
    position: absolute;
    background: none repeat scroll 0% 0% #F60;
    border-radius: 5px;
    font-size: 11px;
    bottom: 5px;
    color: #FFF;
    left: 30px;
    padding: 2px 5px;
}