.me-msg-count {
    position: absolute;
    background: none repeat scroll 0% 0% $brand-secondary;
    border-radius: 5px;
    font-size: 11px;
    bottom: 5px;
    color: $white;
    left: 30px;
    padding: 2px 5px;
}
