/* Styles, used in footer */
/* 
    Created on : 17.05.2015, 09:11:09
    Author     : Andreas Wagner, ISB Bayern
*/
#page-footer {
    border-top: none;

    .performanceinfo {
        background: #ffffff;
        font-size: 0.75em;
    }
}

.me-wrapper .me-search-box {
    margin-bottom: 0;
    margin-top: 20px;
}
