/* Styles, used in header */
/* 
    Created on : 17.05.2015, 09:11:09
    Author     : Andreas Wagner, ISB Bayern
*/
.moodle-menu {
    display: inline-block;
    float: right;
    
    .nav > li {
        font-weight: 400;
        font-style: normal;
        float: right;
        width: 50px;
        height: 60px;

        > a {
            font-size: emCalc(18px);
            text-align: center;

            &:hover {
                background: transparent;
            }
            
            i.fa,
            [class^="icon-me"] {
                margin: 0;
            }
        }

        &.dropdown {

            &:hover > a {
                background: $brand-secondary;
                color: $white;
            }

            ul {
                min-width: 255px;

                &.dropdown-menu {
                    border: none;
                    font-size: emCalc(14px);
                }
                .cogmenu, .coursemenu {
                    div {
                        background-color: $gray-lighter;
                        font-family: 'Titillium Web';
                        font-size: emCalc(16px);
                        color: $gray-dark;
                        text-align: left;
                        line-height: normal;

                        @media only screen and (max-width: $screen-xc) {
                            font-size: emCalc(19px);
                            line-height: 200%;
                        }

                        &.dropdown-inner div {
                            background: transparent;

                            select {
                                width: 100%;
                                margin-bottom: 0;
                            }
                        }

                        &.admin-dropdown {
                            background-color: $gray-dark;
                            color: $white;

                            a {
                                color: $white;
                            }
                        }

                        ul {
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb-button {
    
    margin-top: 0;
    
    .singlebutton {

        float: left;
        margin-left: 4px;

        input[type="submit"] {
            background-color: transparent;
            border: none;
            color: #00a8d5 !important;
            font-size:0.75em;
            padding: 20px 0;
            outline: none;

            &:hover {
                color:#ff6600 !important;
            }
        }
    }
}

.me-msg-count {
    position: absolute;
    background: none repeat scroll 0% 0% $brand-secondary;
    border-radius: 5px;
    font-size: 11px;
    bottom: 5px;
    color: $white;
    left: 30px;
    padding: 2px 5px;
}