.schoolbox {
    margin-top: 40px;

    .schoolbox-meta {
        background: $brand-primary;

        .box-type i {
            display: inline-block;
            background: $brand-primary-dark;
            color: $white;
            line-height: 40px;
            text-align: center;
            margin-right: 0;
            width: 40px;
            margin-right: 10px;
            font-size: emCalc(24px);
        }

    }

    .schoolbox-inner {
        padding: 0;

        .schoolbox-link {
            display: block;
            background-color: lighten($gray-dark, 5%);
            min-height: 175px;
            padding: 20px;
            text-align: left;

            font-weight: 400;
            font-style: normal;
            color: #CCC;

            .schoolname{
                font-size: emCalc(20px);
            }

            &:hover {
                background: $brand-secondary;
                color: $white;
            }

        }

    }

    .vbox {
        font-size: emCalc(36px);
        text-align: left;
        line-height: normal;
        position: absolute;
        bottom: 10px;
        right: 35px;
    }

}
