.me-wrapper .me-sidebar-wrapper .me-sidebar-nav {
    text-align: left;
}

.dir-ltr.editing.used-region-side-post.used-region-side-pre #block-region-side-pre {
    width: 100% !important;
    right: initial !important;
}
.dir-ltr.editing.used-region-side-post.used-region-side-pre #block-region-side-post {
    width: 100% !important;
    right: initial !important;
}

.block {
    background-color: $white;
    .header {
        background-color: inherit;
        color: inherit;
    }
}
