/*
    Styles for local_mbslicenseinfo
*/
/* 
    Created on : 23.11.2016, 10:12:24
    Author     : Huebler
*/

.btn-licenseinfo {
    margin-top: 5px;
}

.collapse-licenseinfo .row{
    margin-top: 10px;
}