

#general-header-middle h1 {
    font-size:21px;
    color: #336699;
    line-height: 23px;
}


.pagelayout-frontpage #toolbar-content {
    font-size: 13px;
    margin-left: auto;
    padding-top: 0px;
}
