#page-my-index #region-main .block.ui-state-default a {
	color: #1b6a9c ; ! important;
}

#page-my-index #region-main .block.ui-state-default {
	
	height: 29px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #9cb3bd;
	color: #1b6a9c;
}

#page-my-index #region-main .block.ui-state-active a {
	color: #1b6a9c; ! important;
	font-weight: normal;
}

#page-my-index #region-main .block.ui-state-active {
	background: #c2d6dc;
	height: 30px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #9cb3bd;
	color: #1b6a9c;
	border-bottom: 1px solid #6c94a3;
}



.meineschulen_courses {
	
	font-size: 1.2em;
	
}

.meineschulen_content .meineschulen_courses .meineschulen_courses_inner
	{
	
	font-size: 0.9em;
	
}


.meineschulen_coordinators {
	
	font-size: 1.2em;
	
}

.meineschulen_content .meineschulen_coordinators .meineschulen_coordinators_inner
	{
	
	font-size: 0.9em;
	
}


.meineschulen_newcourse {
	
	font-size: 1.2em;
	
}

.meineschulen_content .meineschulen_newcourse .meineschulen_newcourse_inner
	{
	
	font-size: 0.9em;
	
}


.meineschulen_search {
	
	font-size: 1.2em;
	
}

.meineschulen_content .meineschulen_createcourse,.meineschulen_content .meineschulen_requestcourse,.meineschulen_content .meineschulen_search .meineschulen_search_inner
	{
	
	font-size: 0.9em;
	
}


.meineschulen_school_form,.meineschulen_school_results {
	
	font-size: 1.2em;
	
}



.meineschulen_content .meineschulen_school_form .meineschulen_school_form_inner,.meineschulen_content .meineschulen_school_results #meineschulen_school_results
	{
	
	font-size: 0.8em;
	
}

.ui-tabs .ui-tabs-nav li a {
   
    padding: 0 1em;
  
}

.meineschulen_content .meineschulen_school_form input.submitbutton {
	
	margin-top: -5px;
}


.meineschulen_content .meineschulen_school_form .meineschulen_school_form_inner {
    
    height: 60px;
   
}