@charset "UTF-8";
/* ============================= POPUPS & OVERLAYS ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\000037}}
.me-content-overlay,
.me-tag-popup,
.me-problem-report-popup,
.me-remove-collection-popup,
.me-idm-portal-password-popup,
.me-search-teacher-popup,
.me-search-pupil-popup,
.me-newsletter-popup {
  display: none;
}

/* ============================= NAVIGATION ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000320}}
.breadcrumb,
.me-in-page-menu {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000325}}
.me-page-header img {
  height: auto;
}

/* ============================= FORMS ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000331}}
input,
select,
option,
button,
.me-search-box {
  display: none;
}

/* ============================= FOOTER ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000341}}
.footer-nav,
#page-footer .copyright,
.footer-mebis-logo {
  display: none;
}

/* ============================= ELEMENTS ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000349}}
a, a:visited {
  text-decoration: none;
  border: none;
  outline: none;
  color: #333333 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000364}}
a[href=""]:after,
a[href="#"]:after,
.me-block-icon a:after,
.me-event-blocks .me-event-block-date a:after,
.me-page-header a:after,
footer a:after {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000369}}
.me-search-result-audio,
.no-print,
.blur,
.extra-nav,
.add-more-results,
.me-event-footer,
.me-block-meta,
.me-order-box,
.me-video-icon-overlay {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000381}}
img {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000385}}
h2.me-page-headline {
  color: #333333 !important;
  display: inline-block !important;
}

/* ============================= HOMEPAGE ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\0000394}}
.wrapper-homepage #me-block-infoportal,
.wrapper-homepage #me-block-mediathek,
.wrapper-homepage #me-block-examination-archive,
.wrapper-homepage #me-block-learning-platform,
.wrapper-homepage .quickentry-box,
.wrapper-homepage .carousel-control,
.wrapper-homepage .me-newsletter-box {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003104}}
.wrapper-homepage .me-news-item {
  width: 100% !important;
  float: none;
  list-style: none;
  margin-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003110}}
.wrapper-homepage .me-news-item img {
  max-width: none;
  width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003119}}
.wrapper-homepage .me-event-blocks .me-event-block-date {
  min-height: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003122}}
.wrapper-homepage .me-event-blocks .me-event-block-date span {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003127}}
.wrapper-homepage .me-event-blocks .me-event-block-content {
  min-height: 0 !important;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003134}}
.wrapper-homepage .me-event-blocks .me-event-block-content-inner a:after {
  display: block;
}

/* ============================= INFOPORTAL ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003148}}
.wrapper-infoportal h2 {
  display: block;
  color: #333 !important;
  margin-bottom: 10px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003154}}
.wrapper-infoportal .me-kontakt,
.wrapper-infoportal .me-order-box,
.wrapper-infoportal .me-detail-info,
.wrapper-infoportal .me-category-articles,
.wrapper-infoportal .me-search-result-blur-bg,
.wrapper-infoportal .me-event-program a {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003163}}
.wrapper-infoportal .me-search-result-image {
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003169}}
.wrapper-infoportal .me-search-result-content h3 {
  margin-top: 0;
  color: #333 !important;
  display: block !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003178}}
.wrapper-infoportal .row-inverted img {
  width: 100%;
  max-width: auto;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003184}}
.wrapper-infoportal .row-inverted .btn {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003191}}
.wrapper-infoportal .me-article-detail ul {
  padding-left: 0;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003195}}
.wrapper-infoportal .me-article-detail ul li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003205}}
.wrapper-infoportal .me-event-blocks .me-event-block-date {
  min-height: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003208}}
.wrapper-infoportal .me-event-blocks .me-event-block-date span {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003213}}
.wrapper-infoportal .me-event-blocks .me-event-block-content {
  min-height: 0 !important;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003220}}
.wrapper-infoportal .me-event-blocks .me-event-block-content-inner a:after {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003231}}
.wrapper-infoportal .me-event-program .me-event-program-headline {
  display: block !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003235}}
.wrapper-infoportal .me-event-program .me-event-program-item {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003239}}
.wrapper-infoportal .me-event-program ul, .wrapper-infoportal .me-event-program ul li {
  margin-left: 0;
  padding-left: 0;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003248}}
.wrapper-infoportal .me-search-result {
  width: 100% !important;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003252}}
.wrapper-infoportal .me-search-result ul {
  padding-left: 0;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003256}}
.wrapper-infoportal .me-search-result ul li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* ============================= MEDIATHEK ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003271}}
.wrapper-mediathek .extra-nav,
.wrapper-mediathek .me-advanced-search-box,
.wrapper-mediathek .me-search-result-meta,
.wrapper-mediathek .meta-content,
.wrapper-mediathek .me-download,
.wrapper-mediathek .me-category-articles {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003280}}
.wrapper-mediathek .me-search-result-image {
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003283}}
.wrapper-mediathek .me-search-result-image img {
  margin-bottom: 0 !important;
}

/* ============================= PRÜFUNGSARCHIV ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003294}}
.wrapper-examination-archive .course-detail-media-player {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003298}}
.wrapper-examination-archive ul {
  padding-left: 0;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003302}}
.wrapper-examination-archive ul li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* ============================= IDM-PORTAL ============================= */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003313}}
.me-idm-portal-header-nav,
.me-idm-portal-select-profile {
  display: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/mebis\/theme\/mebis\/scss\/print\.scss}line{font-family:\00003319}}
.wrapper-idm-portal .btn,
.wrapper-idm-portal .toggle-idm-portal-section {
  display: none;
}
