.ui-tabs {
	position: relative;
	padding: .2em;
	zoom: 1;
}
	/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 .2em 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
	border-radius: 5px 5px 0 0;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 1px;
	font-weight: bold;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}
	/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 0;
	background: none;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.mycoursestabs form {
	clear: both;
	background: #d2e0e8;
	border-top: 1px solid #356379;
	
}

.mycoursestabs .meinekurse_course {
	border: 1px solid #000;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mycoursestabs h2.main {
	display: inline;
}

.mycoursestabs .smallicon {
	vertical-align: middle;
}

.mycoursestabs table.mycourses {
	width: 30%;
}

.mycoursestabs table tr.hover {
	background: #d6ebf5;
	border:0;
}

.mycoursestabs .coursecontainer {
	clear: both;
	float: left;
	width: 100%;
	min-height: 400px;
	
}

table.mycourses {
	margin-left: 10px
}

.mycoursestabs .coursecontent {
	background: #d6ebf5;
}

.mycoursestabs .coursecontent p {
	padding: 3px 10px;
}

#region-main .block .mycoursestabs .title {
	background: none;
}

.block .mycoursestabs hr {
	border-color: #333;
}

.coursecontent .title a:hover {
	cursor: pointer;
}

.mycoursestabs .newtext {
	background: #356379;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 2px;
	color: #fff;
	text-transform: uppercase;
	font-size: 8.5px;
}

.mycoursestabs .red .newtext {
	background: red;
}

.meinekurse_sorticons {
	float: right;
}

.meinekurse_sorticons a {
	width: 25px;
	height: 24px;
	margin: 2px;
	background-repeat: no-repeat;
	display: inline-block;
}

.meinekurse_sorticons a span {
	display: none;
}

.meinekurse_sorticons a#meinekurse_sortname {
	background-image: url([[pix:block_meinekurse|name]]);
}

.meinekurse_sorticons a#meinekurse_sortname.selected {
	background-image: url([[pix:block_meinekurse|name_sel]]);
}

.meinekurse_sorticons a#meinekurse_sorttimecreated {
	background-image: url([[pix:block_meinekurse|timecreated]]);
}

.meinekurse_sorticons a#meinekurse_sorttimecreated.selected {
	background-image: url([[pix:block_meinekurse|timecreated_sel]]);
}

.meinekurse_sorticons a#meinekurse_sorttimevisited {
	background-image: url([[pix:block_meinekurse|timevisited]]);
}

.meinekurse_sorticons a#meinekurse_sorttimevisited.selected {
	background-image: url([[pix:block_meinekurse|timevisited_sel]]);
}

.mycoursestabs .moddesc-hidden {
	display: none;
	width: 0;
}

.meinekursetable {
	float:left;
  

}

.meinekursetable td {
	padding: 5px 2px 2px 2px;;
   
	
}

.meinekursetable td.moreinfo {
padding: 5px 2px 2px 2px;
   
}

.meinekurse_content {
	margin: 5%;
}

 .block_meinekurse .header .commands {
    clear: both;
    text-align: right;
}

#page-my-index .mycoursestabs .header .mysorter{
	
	float:left;
}

.sorthidden {
    display: none;
}