#tile01, #tile02, #tile03, #tile04, #tile05, #tile06 {
    float:left; width:245px; height:165px; margin-bottom:5px;
}
#tile01,#tile02, #tile04, #tile05 {
    margin-right: 4px;
}

#tile06, #tile03 {
    margin-right:0px;
}
#tile01 {
    background: url([[pix:theme|bg-digitales-lernen]]) no-repeat;
}

#tile02 {
    background: url([[pix:theme|bg-aktuelles]]) no-repeat;
}

#tile03 {
    background: url([[pix:theme|bg-hilfe-support]]) no-repeat;
}

#tile04 {
    background: url([[pix:theme|bg-kooperation]]) no-repeat;
}
#tile05 {
    background: url([[pix:theme|bg-offene-kurse]]) no-repeat;
}
#tile06 {
    background: url([[pix:theme|bg-fortbildung]]) no-repeat;
    background-position: -2px 0;
}

.tilecontent {
    float:left;
    position: relative;
    top: 30px;
    left: 110px;
    width: 104px;
}
.tilecontent h3 {
    line-height: 18px;
}



.tilelink {
    float: right;
    position: relative;
    margin-right: 20px;
    top: 120px;
}
body {
font-family:"Amaranth";
    font-size:16px;
    
    line-height: 18px;

}

h1 {
    font-family:"Amaranth";
    font-size:25px;
    
    line-height: 31px;
}

h2, h3.sectionname, .course-content ul.topics li.section .left {
    font-size : 17px;
    
    line-height: 25px;
}

h3 {
    font-size: 15px;
    line-height: 21px;
}

h4, h5 {
    font-size: 13px;
    
    line-height: 19px;
}

h5, h6 {
    
    font-size: 11px;
    line-height: 19px;
}


input, select, textarea, button {
    font-size: 12px;
}

.section {
 font-size: 13px;
}
