/* 
    Document   : css1
    Created on : 30.04.2012, 14:19:37
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    font-size : 16px;
}

h1, h1.page-heading {
    
    font-size:20px;
    line-height: 38px;
}

h2, h3.sectionname, .course-content ul.topics li.section .left {
    font-size : 18px;
}

h3 {
    font-size: 16px;
}

h4, h5 {
    font-size: 16px;
}

h5, h6 {
    
    font-size: 16px;
    
}
.block .header h2 {font-size:16px;}